n8n/11_resolve_thread.json
{
  "name": "CW — 11. Resolve Thread Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resolve-thread",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "4aa182a7-f0a7-4c98-9173-746c7b13926c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1520,
        304
      ],
      "webhookId": "resolve-thread"
    },
    {
      "parameters": {
        "jsCode": "// Turn the {subject, contact} the app posts into a Graph $search string.\n// Subject stays free-text (no subject:\"...\" KQL — nesting quotes inside the\n// already-quoted $search value breaks it). A contact that's an EMAIL uses the\n// participants: keyword (precise); a name is added as free text. KQL keywords\n// are fine inside the outer quotes; only nested double-quotes are the problem.\nconst b = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst clean = s => String(s || '').replace(/[\"\\r\\n]/g, ' ').trim();\nconst subject = clean(b.subject);\nconst contact = clean(b.contact);\nconst terms = [];\nif (subject) terms.push(subject);\nif (contact) terms.push(contact.includes('@') ? ('participants:' + contact) : contact);\nconst search = terms.join(' ').trim();\nreturn [{ json: { search, subject, contact, hasQuery: !!search } }];"
      },
      "id": "ef9d19a5-3a95-407d-9cc4-25c84881cbb8",
      "name": "Build search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$search",
              "value": "=\"{{ $json.search }}\""
            },
            {
              "name": "$select",
              "value": "webLink,subject,from,receivedDateTime,sentDateTime,conversationId"
            },
            {
              "name": "$top",
              "value": "25"
            }
          ]
        },
        "options": {}
      },
      "id": "93f4f869-a9ac-44bf-9d9b-bffcfc759ad2",
      "name": "Search messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        304
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "A3ZyY4XtVcBv1yU3",
          "name": "Microsoft account 3"
        },
        "oAuth2Api": {
          "id": "yA4MMh3TXmKCSDGY",
          "name": "n8n-cubework"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Pick the newest message across the relevance-ranked hits and return its\n// webLink — the official Graph property that OPENS that message/thread in\n// Outlook on the web. $search can't be combined with $orderby, so we sort in\n// code. If Graph errored (continueOnFail) or returned nothing, found:false.\nconst resp = $input.first().json || {};\nconst msgs = Array.isArray(resp.value) ? resp.value : [];\nlet best = null, bestMs = null;\nfor (const m of msgs) {\n  if (!m) continue;\n  const t = Date.parse(m.receivedDateTime || m.sentDateTime || '');\n  if (isNaN(t)) continue;\n  if (bestMs === null || t > bestMs) { bestMs = t; best = m; }\n}\nif (!best || !best.webLink) {\n  return [{ json: { found: false } }];\n}\n// Graph's webLink comes back as either the classic outlook.office365.com/owa/?ItemID=…\n// &viewmodel=ReadMessageItem form or the new outlook.cloud.microsoft/mail/deeplink/read/…\n// form — and BOTH fail with \"This message might have been moved or deleted\" (the owa form\n// redirects into the same broken new-Outlook reader). The ONE form that opens is:\n//   https://outlook.office365.com/mail/deeplink/read/<pathId>?ItemID=<ItemID>&exvsurl=1\n// where <pathId> = the ItemID with base64 '/' and '+' swapped to '-'. So extract the\n// ItemID from whatever Graph returns and rebuild that working URL before storing.\n// (Confirmed working 2026-06-25.) The app also rebuilds at render time as a backstop.\nfunction fixThreadUrl(u) {\n  if (!u || typeof u !== 'string') return u;\n  const m = /[?&]ItemID=([^&]+)/i.exec(u);\n  if (!m) return u.replace(/^(https?:\\/\\/)outlook\\.cloud\\.microsoft\\//i, '$1outlook.office365.com/');\n  const itemId = m[1];\n  const pathId = itemId.replace(/%2F/gi, '-').replace(/%2B/gi, '-');\n  return 'https://outlook.office365.com/mail/deeplink/read/' + pathId + '?ItemID=' + itemId + '&exvsurl=1';\n}\nconst webLink = fixThreadUrl(best.webLink);\nreturn [{ json: {\n  found: true,\n  webLink,\n  conversationId: best.conversationId || '',\n  subject: best.subject || '',\n  from: (best.from && best.from.emailAddress && best.from.emailAddress.address) || '',\n  date: best.receivedDateTime || best.sentDateTime || ''\n} }];"
      },
      "id": "4810125c-e2dd-4900-af37-995736dd220c",
      "name": "Pick newest hit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        304
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c74b1aa9-b964-49a4-a146-1d144eb72661",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build search": {
      "main": [
        [
          {
            "node": "Search messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search messages": {
      "main": [
        [
          {
            "node": "Pick newest hit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick newest hit": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ab11eed4-1422-4b50-91e8-ededee275b6e",
  "meta": {
    "instanceId": "576f1552f658e6ccbe293a5c310c12c03fc3f516211957ae27ecb76646f5be19"
  },
  "id": "uHO1gVaoWCnZetTW",
  "tags": []
}
