n8n/12_apollo_ingestion.json
{
  "name": "CW \u2014 12. Apollo Ingestion (CA core-fit \u2192 Outreach tab)",
  "nodes": [
    {
      "parameters": {},
      "id": "cw-a-000",
      "name": "Run / Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// BATCH 2 \u2014 CA Distributors + Trading Companies (TEU 150-10,000). Batch 1 already ran;\n// this input is just the new companies. (Existing docs skip on re-run via ALREADY_EXISTS.)\nconst TEST_DOMAINS = [];   // PRODUCTION: runs all\nconst companies = [\n  {c:\"Sl Home Fashions\",d:\"slhomefashions.com\",city:\"Vernon\",st:'CA',t:7201,ind:\"Distributors\"},\n  {c:\"Ja Solar Usa Inc.\",d:\"jasolar.com\",city:\"San Jose\",st:'CA',t:6129,ind:\"Trading Companies and Distributors\"},\n  {c:\"Southern Wine & Spirits\",d:\"southernglazers.com\",city:\"Union City\",st:'CA',t:4529,ind:\"Distributors\"},\n  {c:\"Harvey Imp.\",d:\"czechbeer.com\",city:\"Los Angeles\",st:'CA',t:3801,ind:\"Distributors\"},\n  {c:\"Supreme Source Inc.\",d:\"esequip.com\",city:\"San Ramon\",st:'CA',t:3445,ind:\"Trading Companies and Distributors\"},\n  {c:\"Katana Racing Inc.\",d:\"katanawheels.com\",city:\"Duarte\",st:'CA',t:3156,ind:\"Distributors\"},\n  {c:\"Uma Enterprises Inc.\",d:\"umainc.com\",city:\"Compton\",st:'CA',t:3101,ind:\"Distributors\"},\n  {c:\"Aisin World Corp. Of America\",d:\"aisin.com\",city:\"Torrance\",st:'CA',t:2464,ind:\"Distributors\"},\n  {c:\"Home Decor Factory Inc.\",d:\"homedecorfactory.com\",city:\"Ontario\",st:'CA',t:2195,ind:\"Distributors\"},\n  {c:\"Sharkninja Operating Llc\",d:\"jsgl.com\",city:\"Chino\",st:'CA',t:2137,ind:\"Distributors\"},\n  {c:\"Us Pet Nutrition Llc\",d:\"thaiunion.com\",city:\"San Diego\",st:'CA',t:1903,ind:\"Distributors\"},\n  {c:\"Jinro America Inc.\",d:\"jinrousa.com\",city:\"Los Angeles\",st:'CA',t:1900,ind:\"Distributors\"},\n  {c:\"Merchsource Llc\",d:\"thethreesixtygroup.com\",city:\"Irvine\",st:'CA',t:1523,ind:\"Distributors\"},\n  {c:\"Tireco Inc.\",d:\"tireco.com\",city:\"Gardena\",st:'CA',t:1444,ind:\"Distributors\"},\n  {c:\"Emser Tile Llc\",d:\"emser.com\",city:\"Los Angeles\",st:'CA',t:1441,ind:\"Trading Companies and Distributors\"},\n  {c:\"Blue Box Opco Llc Dba Infantino\",d:\"infantino.com\",city:\"San Diego\",st:'CA',t:1254,ind:\"Distributors\"},\n  {c:\"Kawasaki Motors Corp.,Usa.\",d:\"global.kawasaki.com\",city:\"Irvine\",st:'CA',t:1114,ind:\"Distributors\"},\n  {c:\"Evolutions Flooring Inc.\",d:\"bellacerafloors.com\",city:\"South San Francisco\",st:'CA',t:1062,ind:\"Distributors\"},\n  {c:\"Japan Pulp And Paper (Usa.) Corp.\",d:\"kamipa.co.jp\",city:\"Monterey Park\",st:'CA',t:1024,ind:\"Trading Companies and Distributors\"},\n  {c:\"Det Logistics (Usa) Corp.\",d:\"deltathailand.com\",city:\"Fremont\",st:'CA',t:1021,ind:\"Distributors\"},\n  {c:\"Dana Innovations\",d:\"sonance.com\",city:\"San Clemente\",st:'CA',t:959,ind:\"Distributors\"},\n  {c:\"Acg Green Group Inc.\",d:\"jennifertaylorhome.com\",city:\"Irvine\",st:'CA',t:917,ind:\"Distributors\"},\n  {c:\"Sk Chemicals America Inc.\",d:\"skdiscovery.com\",city:\"Irvine\",st:'CA',t:886,ind:\"Trading Companies and Distributors\"},\n  {c:\"Torin Inc.\",d:\"torin-jack.com\",city:\"Ontario\",st:'CA',t:862,ind:\"Distributors\"},\n  {c:\"Dongkuk International Inc.\",d:\"dongkuk.com\",city:\"Torrance\",st:'CA',t:858,ind:\"Distributors\"},\n  {c:\"Jc Sales\",d:\"jcsaleswholesale.com\",city:\"Los Angeles\",st:'CA',t:832,ind:\"Distributors\"},\n  {c:\"Mygrant Glass Co.\",d:\"mygrantglass.com\",city:\"Hayward\",st:'CA',t:820,ind:\"Distributors\"},\n  {c:\"Orange Circle Studio\",d:\"orangecirclestudio.com\",city:\"Irvine\",st:'CA',t:805,ind:\"Distributors\"},\n  {c:\"Vineyard Brands\",d:\"vineyardbrands.com\",city:\"American Canyon\",st:'CA',t:762,ind:\"Distributors\"},\n  {c:\"M Chemical\",d:\"mchemical.com\",city:\"Los Angeles\",st:'CA',t:752,ind:\"Trading Companies and Distributors\"},\n  {c:\"Hallmart Collectibles Inc.\",d:\"hallmartcollectibles.com\",city:\"North Hollywood\",st:'CA',t:728,ind:\"Distributors\"},\n  {c:\"D'aquino Italian Imp.\",d:\"daquino.com\",city:\"Duarte\",st:'CA',t:716,ind:\"Distributors\"},\n  {c:\"Primrose Alloys Inc.\",d:\"primrosealloys.com\",city:\"Burlingame\",st:'CA',t:710,ind:\"Trading Companies and Distributors\"},\n  {c:\"Readerlink Marketing Services\",d:\"readerlink.net\",city:\"San Diego\",st:'CA',t:701,ind:\"Distributors\"},\n  {c:\"Jushi Usa Fiberglass Co., Ltd.\",d:\"jushi.com\",city:\"Irwindale\",st:'CA',t:696,ind:\"Trading Companies and Distributors\"},\n  {c:\"Hd Supply Facilities Maintenance\",d:\"homedepot.com\",city:\"San Diego\",st:'CA',t:677,ind:\"Trading Companies and Distributors\"},\n  {c:\"Ya Ya Creations\",d:\"yayawholesale.com\",city:\"City of Industry\",st:'CA',t:675,ind:\"Distributors\"},\n  {c:\"Johnson Premium Hardwood Flooring\",d:\"johnsonhardwood.com\",city:\"City of Industry\",st:'CA',t:670,ind:\"Distributors\"},\n  {c:\"Golden Eagle Usa\",d:\"verifone.com\",city:\"Ontario\",st:'CA',t:664,ind:\"Trading Companies and Distributors\"},\n  {c:\"World Famous Sports\",d:\"worldfamoussports.com\",city:\"San Diego\",st:'CA',t:656,ind:\"Distributors\"},\n  {c:\"Barbaras Development Inc.\",d:\"directex.net\",city:\"Commerce\",st:'CA',t:652,ind:\"Distributors\"},\n  {c:\"Nadeau Corp.\",d:\"furniturewithasoul.com\",city:\"Santa Monica\",st:'CA',t:652,ind:\"Distributors\"},\n  {c:\"West Coast\",d:\"creamofthecropgardens.com\",city:\"Pomona\",st:'CA',t:645,ind:\"Distributors\"},\n  {c:\"Natural Stone Resources\",d:\"nsrstone.com\",city:\"Anaheim\",st:'CA',t:637,ind:\"Trading Companies and Distributors\"},\n  {c:\"Parts Authority\",d:\"partsauthority.com\",city:\"Los Angeles\",st:'CA',t:626,ind:\"Distributors\"},\n  {c:\"Twenty Four 7 Global Solutions\",d:\"twentyfour7-global.com\",city:\"Los Angeles\",st:'CA',t:607,ind:\"Trading Companies and Distributors\"},\n  {c:\"Plascene Inc.\",d:\"plascene.com\",city:\"Oxnard\",st:'CA',t:590,ind:\"Trading Companies and Distributors\"},\n  {c:\"Quintessential Llc\",d:\"quintessentialwines.com\",city:\"Napa\",st:'CA',t:587,ind:\"Distributors\"},\n  {c:\"Lg Display America Inc.\",d:\"lgdisplay.com\",city:\"San Jose\",st:'CA',t:587,ind:\"Distributors\"},\n  {c:\"Uquality Automotive Products Corp.\",d:\"uquality.com\",city:\"Cerritos\",st:'CA',t:579,ind:\"Distributors\"},\n  {c:\"Tdk Corp. Of America\",d:\"tdk.com\",city:\"Cypress\",st:'CA',t:576,ind:\"Distributors\"},\n  {c:\"American Sanitary Supply Inc.\",d:\"amersan.com\",city:\"Anaheim\",st:'CA',t:576,ind:\"Trading Companies and Distributors\"},\n  {c:\"Spicers Paper Inc.\",d:\"cng-inc.com\",city:\"Santa Fe Springs\",st:'CA',t:575,ind:\"Trading Companies and Distributors\"},\n  {c:\"Polaris Electronics Inc.\",d:\"polaris-usa.com\",city:\"Pleasanton\",st:'CA',t:572,ind:\"Trading Companies and Distributors\"},\n  {c:\"American Bolt & Screw Mfg. Corp.\",d:\"bufab.com\",city:\"Ontario\",st:'CA',t:570,ind:\"Trading Companies and Distributors\"},\n  {c:\"Ssf Imported Auto Parts Llc\",d:\"ssfautoparts.com\",city:\"South San Francisco\",st:'CA',t:567,ind:\"Distributors\"},\n  {c:\"Zuo Modern Contemporary Inc.\",d:\"zuomod.com\",city:\"San Leandro\",st:'CA',t:563,ind:\"Distributors\"},\n  {c:\"Kubota Tractor Corp.\",d:\"kubota.co.jp\",city:\"Torrance\",st:'CA',t:547,ind:\"Trading Companies and Distributors\"},\n  {c:\"Alpine Furniture\",d:\"alpine-furniture.com\",city:\"Hayward\",st:'CA',t:547,ind:\"Distributors\"},\n  {c:\"Stone Universe Inc.\",d:\"suistone.com\",city:\"San Lorenzo\",st:'CA',t:541,ind:\"Trading Companies and Distributors\"},\n  {c:\"Cosmo Products Llc\",d:\"cosmoappliances.com\",city:\"Monterey Park\",st:'CA',t:532,ind:\"Trading Companies and Distributors\"},\n  {c:\"Clay Street Imp.\",d:\"ielp.com\",city:\"Pico Rivera\",st:'CA',t:530,ind:\"Distributors\"},\n  {c:\"Evaki Inc.\",d:\"evakiimports.com\",city:\"San Luis Obispo\",st:'CA',t:500,ind:\"Distributors\"},\n  {c:\"Latitude Wines Inc.\",d:\"latitudewines.com\",city:\"Alamo\",st:'CA',t:483,ind:\"Distributors\"},\n  {c:\"Forest Restaurant Supply Inc. 2010\",d:\"forestrestaurantsupply.com\",city:\"San Francisco\",st:'CA',t:452,ind:\"Trading Companies and Distributors\"},\n  {c:\"California Design Den Inc.\",d:\"californiadesignden.com\",city:\"San Ramon\",st:'CA',t:442,ind:\"Distributors\"},\n  {c:\"Envision Led Lighting Inc.\",d:\"envisionledlighting.com\",city:\"Bell\",st:'CA',t:437,ind:\"Trading Companies and Distributors\"},\n  {c:\"Sunny Designs Inc.\",d:\"sunnydesigns.com\",city:\"Rancho Cucamonga\",st:'CA',t:436,ind:\"Distributors\"},\n  {c:\"Pacific Upholstery Supply Corp\",d:\"pacificsupplies.com\",city:\"Gardena\",st:'CA',t:418,ind:\"Distributors\"},\n  {c:\"Okk Trading Inc.\",d:\"okktoys.com\",city:\"Vernon\",st:'CA',t:413,ind:\"Distributors\"},\n  {c:\"Republic Floor Llc\",d:\"republicfloor.com\",city:\"Hayward\",st:'CA',t:407,ind:\"Distributors\"},\n  {c:\"Global Star Design Inc.\",d:\"globalstardesign.com\",city:\"Pleasanton\",st:'CA',t:402,ind:\"Distributors\"},\n  {c:\"Berry Direct\",d:\"berrydirect.com\",city:\"March Air Reserve Base\",st:'CA',t:400,ind:\"Distributors\"},\n  {c:\"Z&G Global Inc.\",d:\"g-global.com\",city:\"Chino\",st:'CA',t:400,ind:\"Distributors\"},\n  {c:\"Tri West Ltd.\",d:\"triwestltd.com\",city:\"Santa Fe Springs\",st:'CA',t:393,ind:\"Trading Companies and Distributors\"},\n  {c:\"Dynacorn International Inc.\",d:\"dynacorn.com\",city:\"Camarillo\",st:'CA',t:391,ind:\"Distributors\"},\n  {c:\"Nexgen Metals Inc.\",d:\"nexgenworld.com\",city:\"Torrance\",st:'CA',t:379,ind:\"Trading Companies and Distributors\"},\n  {c:\"Permagro\",d:\"permagro.net\",city:\"Buena Park\",st:'CA',t:373,ind:\"Trading Companies and Distributors\"},\n  {c:\"Nanshing America Inc.\",d:\"nanshing.com\",city:\"Los Angeles\",st:'CA',t:364,ind:\"Distributors\"},\n  {c:\"Dahdoul Textiles Inc.\",d:\"shop.dahdoulinc.com\",city:\"Commerce\",st:'CA',t:361,ind:\"Distributors\"},\n  {c:\"Hansung Usa Llc\",d:\"hansungusa.com\",city:\"Aliso Viejo\",st:'CA',t:355,ind:\"Distributors\"},\n  {c:\"Aramco Imp. Inc.\",d:\"aramcoimports.com\",city:\"\",st:'CA',t:355,ind:\"Distributors\"},\n  {c:\"Fred David International Usa Inc.\",d:\"freddavid.com\",city:\"La Mirada\",st:'CA',t:342,ind:\"Distributors\"},\n  {c:\"Tiger Corporation Usa\",d:\"tiger.jp\",city:\"Torrance\",st:'CA',t:341,ind:\"Trading Companies and Distributors\"},\n  {c:\"H.C.Foods Co., Ltd.\",d:\"hcfoods.net\",city:\"Commerce\",st:'CA',t:338,ind:\"Distributors\"},\n  {c:\"Fuji Electric Corp. Of America\",d:\"fujielectric.com\",city:\"Fremont\",st:'CA',t:336,ind:\"Trading Companies and Distributors\"},\n  {c:\"Iris Wholesales Inc.\",d:\"iriswholesale.com\",city:\"Los Angeles\",st:'CA',t:335,ind:\"Distributors\"},\n  {c:\"Hongfa America Inc.\",d:\"hongfa.com\",city:\"Lake Forest\",st:'CA',t:329,ind:\"Trading Companies and Distributors\"},\n  {c:\"Francini Inc.\",d:\"francinimarble.com\",city:\"Sun Valley\",st:'CA',t:320,ind:\"Trading Companies and Distributors\"},\n  {c:\"In Motion Design Inc.\",d:\"inmotion.design\",city:\"Paramount\",st:'CA',t:316,ind:\"Distributors\"},\n  {c:\"Mizari Enterprises Inc.\",d:\"mizari.com\",city:\"Commerce\",st:'CA',t:312,ind:\"Distributors\"},\n  {c:\"Bandai Logipal America Inc.\",d:\"blpainc.com\",city:\"Compton\",st:'CA',t:311,ind:\"Distributors\"},\n  {c:\"Edgemine Inc.\",d:\"edgemine.com\",city:\"Vernon\",st:'CA',t:309,ind:\"Distributors\"},\n  {c:\"Del Tho Industries Inc.\",d:\"del-tho.com\",city:\"Los Angeles\",st:'CA',t:306,ind:\"Trading Companies and Distributors\"},\n  {c:\"Fulton Denver Co.\",d:\"fultonpacific.com\",city:\"Vacaville\",st:'CA',t:298,ind:\"Distributors\"},\n  {c:\"Noble Rider Llc\",d:\"nobleoutfitters.com\",city:\"Modesto\",st:'CA',t:290,ind:\"Distributors\"},\n  {c:\"Regal Art & Gift\",d:\"regalgift.com\",city:\"Martinez\",st:'CA',t:278,ind:\"Distributors\"},\n  {c:\"Howard Industries Inc.\",d:\"howind.com\",city:\"Poway\",st:'CA',t:276,ind:\"Trading Companies and Distributors\"},\n  {c:\"Epilay Inc.\",d:\"epilay.com\",city:\"Carson\",st:'CA',t:276,ind:\"Trading Companies and Distributors\"},\n  {c:\"Kp Distribution Inc.\",d:\"linkvox.com\",city:\"Pomona\",st:'CA',t:268,ind:\"Trading Companies and Distributors\"},\n  {c:\"Kingston Brass Inc.\",d:\"kingstonbrass.com\",city:\"Chino\",st:'CA',t:261,ind:\"Trading Companies and Distributors\"},\n  {c:\"Mjb Plastics\",d:\"mjbplastics.com\",city:\"Long Beach\",st:'CA',t:254,ind:\"Trading Companies and Distributors\"},\n  {c:\"Helmet House, Inc.\",d:\"helmethouse.com\",city:\"Calabasas\",st:'CA',t:249,ind:\"Distributors\"},\n  {c:\"Acme Furniture Industries Inc.\",d:\"acmecorp.com\",city:\"City of Industry\",st:'CA',t:246,ind:\"Distributors\"},\n  {c:\"New Wave Converting Inc.\",d:\"nwconverting.com\",city:\"Fontana\",st:'CA',t:246,ind:\"Distributors\"},\n  {c:\"Sun Fast International Llc\",d:\"sunfastusa.com\",city:\"Brea\",st:'CA',t:241,ind:\"Trading Companies and Distributors\"},\n  {c:\"American Tartaric Products Inc.\",d:\"americantartaric.com\",city:\"Windsor\",st:'CA',t:240,ind:\"Trading Companies and Distributors\"},\n  {c:\"Southern Marketing Affiliates\",d:\"smalink.com\",city:\"Fresno\",st:'CA',t:240,ind:\"Trading Companies and Distributors\"},\n  {c:\"Skiva International Inc.\",d:\"trendsetny.com\",city:\"Los Angeles\",st:'CA',t:234,ind:\"Distributors\"},\n  {c:\"Granite Group Wholesalers Llc\",d:\"thegranitegroup.com\",city:\"San Diego\",st:'CA',t:228,ind:\"Trading Companies and Distributors\"},\n  {c:\"Mrc Creations Inc.\",d:\"mrccreations.com\",city:\"Rosemead\",st:'CA',t:227,ind:\"Distributors\"},\n  {c:\"Hyve Solutions\",d:\"tdsynnex.com\",city:\"Fremont\",st:'CA',t:222,ind:\"Distributors\"},\n  {c:\"Basstech International\",d:\"basstechintl.com\",city:\"Santa Ana\",st:'CA',t:221,ind:\"Trading Companies and Distributors\"},\n  {c:\"Sunmight Usa Corporation\",d:\"sunmightusa.com\",city:\"La Mirada\",st:'CA',t:214,ind:\"Trading Companies and Distributors\"},\n  {c:\"Quality Chain Corp.\",d:\"qualitychaincorp.com\",city:\"Rocklin\",st:'CA',t:212,ind:\"Trading Companies and Distributors\"},\n  {c:\"Kole Imp.\",d:\"koleimports.com\",city:\"Carson\",st:'CA',t:211,ind:\"Distributors\"},\n  {c:\"West Wood Products\",d:\"west-wood.net\",city:\"Compton\",st:'CA',t:210,ind:\"Trading Companies and Distributors\"},\n  {c:\"Grant & Bowman Inc.\",d:\"grantandbowman.com\",city:\"Beverly Hills\",st:'CA',t:208,ind:\"Distributors\"},\n  {c:\"Vivion Inc.\",d:\"lfamachines.com\",city:\"Vernon\",st:'CA',t:205,ind:\"Trading Companies and Distributors\"},\n  {c:\"Paper 360 Inc.\",d:\"paper-360.com\",city:\"Ontario\",st:'CA',t:205,ind:\"Trading Companies and Distributors\"},\n  {c:\"Y K Packaging Inc.\",d:\"sandkpackaging.com\",city:\"Chula Vista\",st:'CA',t:202,ind:\"Trading Companies and Distributors\"},\n  {c:\"Winesellers Ltd.\",d:\"winesellersltd.com\",city:\"Oakland\",st:'CA',t:201,ind:\"Distributors\"},\n  {c:\"Crp Industries Inc.\",d:\"crpindustries.com\",city:\"Fremont\",st:'CA',t:200,ind:\"Distributors\"},\n  {c:\"Happy Forest International Inc.\",d:\"hipacktravel.com\",city:\"Ontario\",st:'CA',t:196,ind:\"Distributors\"},\n  {c:\"Ultimate Products\",d:\"ultimateproducts.us\",city:\"West Sacramento\",st:'CA',t:194,ind:\"Trading Companies and Distributors\"}\n];\nlet list = companies;\nif (TEST_DOMAINS.length) list = companies.filter(c => TEST_DOMAINS.includes(c.d));\nreturn list.map(c => ({ json: { company:c.c, domain:c.d, city:c.city, state:c.st, teu:c.t, industry:c.ind } }));"
      },
      "id": "cw-a-001",
      "name": "CA core-fit input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cw-a-002",
      "name": "Loop companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Apollo People Search body for this company's domain. FREE (no credits); returns no emails.\nconst c = $json;\nconst searchBody = {\n  q_organization_domains_list: [c.domain],\n  person_titles: [\"owner\", \"president\", \"ceo\", \"chief operating officer\", \"coo\", \"vp operations\", \"vice president operations\", \"director of operations\", \"vp supply chain\", \"director of supply chain\", \"head of supply chain\", \"vp logistics\", \"director of logistics\", \"head of logistics\", \"director of distribution\", \"distribution manager\", \"warehouse manager\", \"director of warehousing\", \"head of fulfillment\", \"vp fulfillment\"],\n  person_seniorities: [\"owner\", \"founder\", \"c_suite\", \"vp\", \"director\", \"head\"],\n  include_similar_titles: true, per_page: 10, page: 1\n};\nreturn [{ json: { ...c, searchBody } }];"
      },
      "id": "cw-a-003",
      "name": "Build people search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.searchBody) }}",
        "options": {}
      },
      "id": "cw-a-004",
      "name": "Apollo People Search (free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Keep the 1-2 best warehousing decision-makers. ALWAYS returns one item (picked:[] if none)\n// so the batch loop never breaks; an IF node downstream skips no-contact companies.\nconst ctx = $('Build people search').item.json;\nconst people = ($json.people || $json.contacts || []);\nconst PRI = ['owner','president','ceo','coo','chief operating','operations','supply chain','logistics','distribution','warehouse','fulfillment'];\nconst rank = p => { const t=(p.title||'').toLowerCase(); const i=PRI.findIndex(k=>t.includes(k)); return i<0?99:i; };\nconst picked = people.filter(p=>p&&(p.id||p.first_name)).sort((a,b)=>rank(a)-rank(b)).slice(0,2)\n  .map(p=>({ id:p.id, first_name:p.first_name, last_name:p.last_name, title:p.title, linkedin_url:p.linkedin_url, seniority:p.seniority }));\nconst enrichBody = picked.length ? { reveal_personal_emails:true, reveal_phone_number:false,\n  details: picked.map(p => p.id ? { id:p.id } : { first_name:p.first_name, last_name:p.last_name, domain:ctx.domain }) } : null;\nreturn [{ json: { company:ctx.company, domain:ctx.domain, city:ctx.city, state:ctx.state, teu:ctx.teu, industry:ctx.industry, picked, enrichBody } }];"
      },
      "id": "cw-a-005",
      "name": "Pick best contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.enrichBody) }}",
        "options": {}
      },
      "id": "cw-a-009",
      "name": "Apollo reveal email (1 credit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Score AFTER enrichment, so timing/growth are DATA-DRIVEN (real Apollo firmographics), not guessed.\n// Enrichment response (matches) on $json; company context from 'Pick best contacts'.\nconst ctx = $('Pick best contacts').item.json;\nconst m   = ($json.matches || [])[0] || {};\nconst org = m.organization || {};\nconst ind = ctx.industry || 'consumer goods';\nconst rubric = `You are scoring a US importer in the \"${ind}\" category as a prospect for Cubework's flexible, month-to-month warehouse space near the Ports of LA/Long Beach (Inland Empire) and other Cubework metros. The ideal prospect moves real container volume but is NOT so large it already owns its distribution.\\nScore 7 factors using the data provided: volume_trend(0-20 higher TEU / growth = outgrowing space); right_size(0-20 mid-size; PENALIZE giants that own DCs and tiny importers); seasonality(0-15 category spikes); dtc(0-15 holds own inventory); bulk(0-10 bulky goods like furniture/home/sporting); recurring(0-10); timing(0-10 use headcount_growth / funding / open_jobs \u2014 rising = expanding = needs space now).\\nTiers: Hot>=70, Warm 45-69, Watch<45. Score conservatively when data is thin.\\nReturn ONLY minified JSON: {\\\"total\\\":n,\\\"tier\\\":\\\"Hot|Warm|Watch\\\",\\\"why_now\\\":\\\"one sentence (cite a real signal if present)\\\",\\\"email_subject\\\":\\\"...\\\",\\\"email_body\\\":\\\"~80 words, value-led, lead with port-proximity + flexible space for this company's bulky/seasonal inventory, reference the company and its category specifically, offer to share how similar importers structure overflow space, never use the phrase follow up, sign as Justin\\\"}`;\nconst candidate = JSON.stringify({ company:ctx.company, industry:ind, state:ctx.state, teu:ctx.teu,\n  employees:org.estimated_num_employees, founded:org.founded_year,\n  annual_revenue:org.annual_revenue_printed||org.annual_revenue||null,\n  total_funding:org.total_funding_printed||org.total_funding||null,\n  latest_funding:org.latest_funding_stage||null,\n  headcount_growth_6mo:org.organization_headcount_six_month_growth,\n  headcount_growth_12mo:org.organization_headcount_twelve_month_growth,\n  open_jobs:org.organization_num_jobs||org.num_jobs||null });\nconst requestBody = { model:'gpt-4o', max_tokens:700, response_format:{ type:'json_object' },\n  messages:[ { role:'system', content:rubric }, { role:'user', content:'Company data:\\n'+candidate } ] };\nreturn [{ json: { ...ctx, requestBody } }];"
      },
      "id": "cw-a-006",
      "name": "Build scoring prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "cw-a-007",
      "name": "Score + draft (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Build the rich Firestore `outreach` doc. NO GATE \u2014 write every qualified company\n// (tier is just a label). Context from 'Pick best contacts'; enrichment from 'Apollo reveal email';\n// OpenAI score on $json. Deterministic id ap-<domain> => re-runs skip (no clobber). Phone empty until reveal-on-reply.\nconst ctx = $('Pick best contacts').item.json;\nconst m   = ($('Apollo reveal email (1 credit)').item.json.matches || [])[0] || {};\nconst org = m.organization || {};\nconst p0  = (ctx.picked && ctx.picked[0]) || {};\nlet parsed = {};\ntry { const t=($json.choices&&$json.choices[0]&&$json.choices[0].message&&$json.choices[0].message.content)||$json.text||'{}';\n  parsed = JSON.parse(t.trim().replace(/^```json/i,'').replace(/```$/,'').trim()); } catch(e){ parsed = {}; }\nconst dedash = s => String(s==null?'':s).replace(/\\s*[\\u2014\\u2013]\\s*/g, ', ').replace(/\\s--\\s/g, ', ');\nconst email = m.email || (m.personal_emails && m.personal_emails[0]) || '';\nconst fullName = m.name || ((m.first_name||p0.first_name||'') + ' ' + (m.last_name||p0.last_name||'')).trim();\nconst title = m.title || p0.title || '';\nconst now = new Date().toISOString();\nconst slug = 'ap-' + ctx.domain.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');\nconst S = v => ({ stringValue:(v==null?'':String(v)) });\nconst I = v => ({ integerValue:String(Math.round(Number(v)||0)) });\nconst pct = v => (v==null||v===''?'':(Math.round(Number(v)*1000)/10)+'%');\nconst fields = {\n  company:S(ctx.company), domain:S(ctx.domain),\n  first_name:S(fullName), contact:S(title), seniority:S(m.seniority||p0.seniority||''),\n  department:S((m.departments&&m.departments[0])||''), headline:S(m.headline||''), photo:S(m.photo_url||''),\n  email:S(email), email_status:S(m.email_status||''), linkedin:S(m.linkedin_url||p0.linkedin_url||''),\n  person_loc:S([m.city,m.state].filter(Boolean).join(', ')), phone:S(''),\n  industry:S(org.industry||ctx.industry||''), employees:I(org.estimated_num_employees), founded:S(org.founded_year||''),\n  annual_revenue:S(org.annual_revenue_printed||org.annual_revenue||''),\n  total_funding:S(org.total_funding_printed||org.total_funding||''),\n  latest_funding:S([org.latest_funding_stage,org.latest_funding_round_date].filter(Boolean).join(' \\u00b7 ')),\n  growth_6mo:S(pct(org.organization_headcount_six_month_growth)),\n  growth_12mo:S(pct(org.organization_headcount_twelve_month_growth)),\n  growth_24mo:S(pct(org.organization_headcount_twenty_four_month_growth)),\n  num_jobs:I(org.organization_num_jobs||org.num_jobs||0),\n  description:S(String(org.short_description||'').slice(0,600)),\n  org_phone:S(org.phone||org.primary_phone||org.sanitized_phone||''),\n  org_address:S(org.raw_address||[org.street_address,org.city,org.state].filter(Boolean).join(', ')),\n  org_state:S(org.state||ctx.state||''), org_website:S(org.website_url||('https://'+ctx.domain)), org_linkedin:S(org.linkedin_url||''),\n  teu:I(ctx.teu),\n  prospect_tier:S(parsed.tier||''), prospect_score:I(parsed.total!=null?parsed.total:0),\n  why_now:S(parsed.why_now||''), email_subject:S(dedash(parsed.email_subject||'')), email_body:S(dedash(parsed.email_body||'')),\n  status:S(''), prospect_source:S('Apollo'), createdAt:{ timestampValue:now }\n};\nreturn [{ json: { slug, hasEmail:!!email, fsBody:{ fields } } }];"
      },
      "id": "cw-a-010",
      "name": "Build prospect doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/outreach?documentId={{ $json.slug }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fsBody) }}",
        "options": {}
      },
      "id": "cw-a-011",
      "name": "Create prospect in Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ ($json.picked || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "cw-a-013",
      "name": "Has contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1410,
        300
      ]
    }
  ],
  "connections": {
    "Run / Test": {
      "main": [
        [
          {
            "node": "CA core-fit input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CA core-fit input": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop companies": {
      "main": [
        [],
        [
          {
            "node": "Build people search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build people search": {
      "main": [
        [
          {
            "node": "Apollo People Search (free)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo People Search (free)": {
      "main": [
        [
          {
            "node": "Pick best contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick best contacts": {
      "main": [
        [
          {
            "node": "Has contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo reveal email (1 credit)": {
      "main": [
        [
          {
            "node": "Build scoring prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build scoring prompt": {
      "main": [
        [
          {
            "node": "Score + draft (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + draft (OpenAI)": {
      "main": [
        [
          {
            "node": "Build prospect doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prospect doc": {
      "main": [
        [
          {
            "node": "Create prospect in Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create prospect in Firestore": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contact?": {
      "main": [
        [
          {
            "node": "Apollo reveal email (1 credit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-012"
}