n8n/12_apollo_ingestion.json
{
  "name": "CW \u2014 12. Apollo Ingestion (CA core-fit \u2192 Outreach tab)",
  "nodes": [
    {
      "parameters": {},
      "id": "cw-a-000",
      "name": "Run / Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CA core-fit prospects: Household Durables, Specialty Retail, Apparel & Footwear, Leisure Products.\n// California consignees only, TEU 250-10,000 (giants & micro-importers already filtered out).\n// SCALE: regenerate this array for another state/batch and paste here.\n// TEST vs FULL: while TEST_DOMAINS is non-empty only those run; set TEST_DOMAINS = [] to run all 139.\nconst TEST_DOMAINS = [];   // PRODUCTION: runs all companies\nconst companies = [\n  {c:\"Intl Pet Supplies And\",d:\"petco.com\",city:\"San Diego\",st:'CA',t:4036,ind:\"Specialty Retail\"},\n  {c:\"Living Spaces Furniture\",d:\"livingspaces.com\",city:\"La Mirada\",st:'CA',t:3832,ind:\"Specialty Retail\"},\n  {c:\"Evenflo Co. Inc.\",d:\"gbinternational.com.hk\",city:\"Ontario\",st:'CA',t:2918,ind:\"Household Durables\"},\n  {c:\"Zodiac Pool Systems Inc.\",d:\"fluidra.com\",city:\"Vista\",st:'CA',t:2513,ind:\"Leisure Products\"},\n  {c:\"Birkenstock Usa\",d:\"lcatterton.com\",city:\"Novato\",st:'CA',t:2421,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Design Within Reach\",d:\"millerknoll.com\",city:\"San Francisco\",st:'CA',t:2133,ind:\"Specialty Retail\"},\n  {c:\"Mad Engine Llc\",d:\"madengine.com\",city:\"San Diego\",st:'CA',t:2044,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Sceptre\",d:\"sceptre.com\",city:\"City of Industry\",st:'CA',t:1783,ind:\"Household Durables\"},\n  {c:\"Keepcool Usa Llc\",d:\"keepcoolbags.com\",city:\"Lafayette\",st:'CA',t:1714,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Sonos Inc.\",d:\"sonos.com\",city:\"\",st:'CA',t:1625,ind:\"Household Durables\"},\n  {c:\"Fashion Nova\",d:\"fashionnova.com\",city:\"Los Angeles\",st:'CA',t:1521,ind:\"Specialty Retail\"},\n  {c:\"Fender Musical Instruments Corp.\",d:\"fender.com\",city:\"Ontario\",st:'CA',t:1408,ind:\"Leisure Products\"},\n  {c:\"Sony Interactive Entertainment\",d:\"sony.com\",city:\"Foster City\",st:'CA',t:1392,ind:\"Household Durables\"},\n  {c:\"E&E Co., Ltd.\",d:\"ee1994.com\",city:\"Fremont\",st:'CA',t:1376,ind:\"Household Durables\"},\n  {c:\"Homelegance Inc.\",d:\"homelegance.com\",city:\"Santa Fe Springs\",st:'CA',t:1344,ind:\"Specialty Retail\"},\n  {c:\"Tcw Trends Inc.\",d:\"tcwtrends.com\",city:\"Torrance\",st:'CA',t:1335,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Ergomotion Inc.\",d:\"keeson.com\",city:\"Santa Barbara\",st:'CA',t:1274,ind:\"Household Durables\"},\n  {c:\"Zinus Inc.\",d:\"zinus.co.kr\",city:\"Tracy\",st:'CA',t:1232,ind:\"Household Durables\"},\n  {c:\"Romeo & Juliette Inc.\",d:\"bearpaw.com\",city:\"Citrus Heights\",st:'CA',t:1170,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Guess Inc.\",d:\"guess.com\",city:\"Los Angeles\",st:'CA',t:1167,ind:\"Specialty Retail\"},\n  {c:\"Boot Barn\",d:\"bootbarn.com\",city:\"Irvine\",st:'CA',t:1096,ind:\"Specialty Retail\"},\n  {c:\"Golden Designs\",d:\"goldendesigninc.com\",city:\"Ontario\",st:'CA',t:1060,ind:\"Leisure Products\"},\n  {c:\"Yamaha Corporation Of America\",d:\"yamaha.com\",city:\"Buena Park\",st:'CA',t:1030,ind:\"Leisure Products\"},\n  {c:\"Ardmore Home Design Llc\",d:\"madegoods.com\",city:\"Hacienda Heights\",st:'CA',t:1017,ind:\"Household Durables\"},\n  {c:\"Fam Llc\",d:\"fambrands.com\",city:\"Los Angeles\",st:'CA',t:1000,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Haitai Inc.\",d:\"haitaiusa.com\",city:\"Montebello\",st:'CA',t:993,ind:\"Specialty Retail\"},\n  {c:\"Topway Global Inc.\",d:\"watts.com\",city:\"Brea\",st:'CA',t:992,ind:\"Household Durables\"},\n  {c:\"Nine Stars Group (Usa.) Inc.\",d:\"ninestarsusa.com\",city:\"Pomona\",st:'CA',t:988,ind:\"Specialty Retail\"},\n  {c:\"Callaway Golf Company\",d:\"topgolfcallawaybrands.com\",city:\"Carlsbad\",st:'CA',t:924,ind:\"Leisure Products\"},\n  {c:\"Style Melody Inc.\",d:\"stylemelodyfashion.com\",city:\"Vernon\",st:'CA',t:878,ind:\"Specialty Retail\"},\n  {c:\"Hoist Fitness Systems\",d:\"hoistfitness.com\",city:\"Poway\",st:'CA',t:874,ind:\"Leisure Products\"},\n  {c:\"Caba Design Corp.\",d:\"cabadesign.co\",city:\"Rancho Cordova\",st:'CA',t:868,ind:\"Household Durables\"},\n  {c:\"Mki Enterprise Group\",d:\"dongjian.cc\",city:\"Corona\",st:'CA',t:867,ind:\"Specialty Retail\"},\n  {c:\"Geekplus America Inc.\",d:\"geekplus.com\",city:\"Carlsbad\",st:'CA',t:793,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Leon Max Inc.\",d:\"maxstudio.com\",city:\"Pasadena\",st:'CA',t:782,ind:\"Specialty Retail\"},\n  {c:\"Keeco, Llc.\",d:\"hollandersleepproducts.com\",city:\"Hayward\",st:'CA',t:752,ind:\"Household Durables\"},\n  {c:\"Monoprice Inc.\",d:\"cables.com.tw\",city:\"Rancho Cucamonga\",st:'CA',t:743,ind:\"Specialty Retail\"},\n  {c:\"Adc Solutions Auto Llc\",d:\"typesauto.com\",city:\"Costa Mesa\",st:'CA',t:729,ind:\"Specialty Retail\"},\n  {c:\"Camping World\",d:\"campingworld.com\",city:\"Bakersfield\",st:'CA',t:717,ind:\"Specialty Retail\"},\n  {c:\"Gale Pacific Usa Inc.\",d:\"galepacific.com\",city:\"Rancho Cucamonga\",st:'CA',t:703,ind:\"Household Durables\"},\n  {c:\"Ac Infinity Inc.\",d:\"acinfinity.com\",city:\"City of Industry\",st:'CA',t:688,ind:\"Household Durables\"},\n  {c:\"Grafiti Home Inc. (Dba 7 Th Avenue)\",d:\"grafitihome.com\",city:\"Compton\",st:'CA',t:684,ind:\"Household Durables\"},\n  {c:\"Hot Topic\",d:\"hottopic.com\",city:\"City of Industry\",st:'CA',t:674,ind:\"Specialty Retail\"},\n  {c:\"Mor Furniture For Less\",d:\"hkfoam.com\",city:\"San Diego\",st:'CA',t:672,ind:\"Specialty Retail\"},\n  {c:\"Entertainment Earth Inc.\",d:\"entertainmentearth.com\",city:\"Simi Valley\",st:'CA',t:667,ind:\"Specialty Retail\"},\n  {c:\"E.L.F. Cosmetics Inc.\",d:\"elfcosmetics.com\",city:\"Ontario\",st:'CA',t:659,ind:\"Specialty Retail\"},\n  {c:\"Nexgrill Industries Inc.\",d:\"globalleisuregroup.com\",city:\"Chino\",st:'CA',t:611,ind:\"Household Durables\"},\n  {c:\"Levtex Llc.\",d:\"wholesale.levtexhome.com\",city:\"Santa Monica\",st:'CA',t:609,ind:\"Household Durables\"},\n  {c:\"Ambiance Usa\",d:\"ambianceapparel.us\",city:\"Los Angeles\",st:'CA',t:603,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Lulu And Georgia\",d:\"luluandgeorgia.com\",city:\"Bellflower\",st:'CA',t:583,ind:\"Specialty Retail\"},\n  {c:\"Aico Amini Innovation Corp.\",d:\"amini.com\",city:\"Pico Rivera\",st:'CA',t:582,ind:\"Household Durables\"},\n  {c:\"Childrens Apparel Network Ltd.\",d:\"childrensapparelnetwork.com\",city:\"Fontana\",st:'CA',t:579,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Arcadia Beauty Labs Llc\",d:\"sallybeautyholdings.com\",city:\"Carson\",st:'CA',t:572,ind:\"Specialty Retail\"},\n  {c:\"Sound United\",d:\"masimo.com\",city:\"Vista\",st:'CA',t:558,ind:\"Household Durables\"},\n  {c:\"Superior Home Design Inc.\",d:\"discounthwf.com\",city:\"Los Angeles\",st:'CA',t:556,ind:\"Specialty Retail\"},\n  {c:\"Austin Pang Gloves Mfg. (Usa) Corp.\",d:\"johnsonwilshire.com\",city:\"Santa Fe Springs\",st:'CA',t:555,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Fabletics Llc\",d:\"ibinc.com\",city:\"El Segundo\",st:'CA',t:550,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Peag Llc\",d:\"jlab.com\",city:\"Carlsbad\",st:'CA',t:545,ind:\"Household Durables\"},\n  {c:\"Topson Downs Of California Inc.\",d:\"topsondowns.com\",city:\"Culver City\",st:'CA',t:545,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Colosseum Athletics Corp.\",d:\"colosseumusa.com\",city:\"Compton\",st:'CA',t:538,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Bexco Enterprises\",d:\"milliondollarbaby.com\",city:\"Montebello\",st:'CA',t:522,ind:\"Household Durables\"},\n  {c:\"Vans Inc.\",d:\"vfc.com\",city:\"Santa Fe Springs\",st:'CA',t:520,ind:\"Specialty Retail\"},\n  {c:\"Canyon Bicycles Usa Inc.\",d:\"canyon.com\",city:\"Chino\",st:'CA',t:517,ind:\"Leisure Products\"},\n  {c:\"Mgr Design International\",d:\"mgrdesign.com\",city:\"Oxnard\",st:'CA',t:504,ind:\"Household Durables\"},\n  {c:\"Pentair Water Pool And Sp A\",d:\"pentair.com\",city:\"Moorpark\",st:'CA',t:500,ind:\"Leisure Products\"},\n  {c:\"Jerry Leigh Inc.\",d:\"jerryleigh.com\",city:\"Vernon\",st:'CA',t:490,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Kidsmania Inc.\",d:\"kidsmania.com\",city:\"Santa Fe Springs\",st:'CA',t:490,ind:\"Specialty Retail\"},\n  {c:\"Noritz America\",d:\"noritzglobal.com\",city:\"Fountain Valley\",st:'CA',t:488,ind:\"Household Durables\"},\n  {c:\"Jeffrey Court Inc.\",d:\"jeffreycourt.com\",city:\"Norco\",st:'CA',t:487,ind:\"Household Durables\"},\n  {c:\"Aliquantum International Inc.\",d:\"aqi-intl.com\",city:\"Ontario\",st:'CA',t:487,ind:\"Leisure Products\"},\n  {c:\"Universal Electronics Inc.\",d:\"uei.com\",city:\"Cypress\",st:'CA',t:485,ind:\"Household Durables\"},\n  {c:\"Matisse Footwear\",d:\"dev2.matissefootwear.com\",city:\"El Segundo\",st:'CA',t:483,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Bradshaw International Inc.\",d:\"bradshawhome.com\",city:\"Rancho Cucamonga\",st:'CA',t:483,ind:\"Household Durables\"},\n  {c:\"Joneca Corp.\",d:\"joneca.com\",city:\"Anaheim\",st:'CA',t:478,ind:\"Household Durables\"},\n  {c:\"Flora Bunda Inc.\",d:\"florabundaus.com\",city:\"City of Industry\",st:'CA',t:459,ind:\"Specialty Retail\"},\n  {c:\"Lifecore Fitness Inc.\",d:\"fitlab.com\",city:\"Vista\",st:'CA',t:458,ind:\"Leisure Products\"},\n  {c:\"Olukai\",d:\"olukai.com\",city:\"Irvine\",st:'CA',t:449,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Path To Prosperity Inc.\",d:\"cpturf.com\",city:\"San Dimas\",st:'CA',t:447,ind:\"Leisure Products\"},\n  {c:\"One Diamond Electronics Inc.\",d:\"diamond-electronics.com\",city:\"Los Angeles\",st:'CA',t:431,ind:\"Household Durables\"},\n  {c:\"Volcom Inc.\",d:\"authentic.com\",city:\"El Segundo\",st:'CA',t:428,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Pioneer Electronics (Usa) Inc.\",d:\"global.pioneer\",city:\"Long Beach\",st:'CA',t:423,ind:\"Household Durables\"},\n  {c:\"Tai Apparel Inc.\",d:\"taiapparel.com\",city:\"Agoura Hills\",st:'CA',t:422,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"International Textile & Apparel Inc.\",d:\"tracietung.com\",city:\"Los Angeles\",st:'CA',t:414,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Jobar International Inc.\",d:\"jobar.com\",city:\"Carson\",st:'CA',t:413,ind:\"Specialty Retail\"},\n  {c:\"Pets Global Inc.\",d:\"pets-global.com\",city:\"Santa Clarita\",st:'CA',t:392,ind:\"Specialty Retail\"},\n  {c:\"Home Legend\",d:\"homelegend.com\",city:\"Fontana\",st:'CA',t:385,ind:\"Household Durables\"},\n  {c:\"Cavalini Inc.\",d:\"cavalini.com\",city:\"Los Angeles\",st:'CA',t:376,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Daiwa Corporation\",d:\"globeride.co.jp\",city:\"Cypress\",st:'CA',t:371,ind:\"Leisure Products\"},\n  {c:\"Pacific Sunwear Of California\",d:\"pacsun.com\",city:\"Anaheim\",st:'CA',t:361,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Sagebrook Home\",d:\"sagebrookhome.com\",city:\"Commerce\",st:'CA',t:352,ind:\"Specialty Retail\"},\n  {c:\"Janie And Jack\",d:\"janieandjack.com\",city:\"San Francisco\",st:'CA',t:338,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Swat Fame Inc.\",d:\"swatfame.com\",city:\"City of Industry\",st:'CA',t:334,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Tropitone Furniture Co. Inc.\",d:\"brownjordaninc.com\",city:\"Irvine\",st:'CA',t:333,ind:\"Household Durables\"},\n  {c:\"Parachute Home Inc.\",d:\"parachutehome.com\",city:\"Culver City\",st:'CA',t:331,ind:\"Household Durables\"},\n  {c:\"Jada Toys Inc.\",d:\"simbatoys.de\",city:\"City of Industry\",st:'CA',t:330,ind:\"Leisure Products\"},\n  {c:\"The Bonkers Toy Co.\",d:\"bonkerstoys.com\",city:\"La Jolla\",st:'CA',t:329,ind:\"Specialty Retail\"},\n  {c:\"Abc Home Furnishings Inc.\",d:\"abchome.com\",city:\"San Francisco\",st:'CA',t:324,ind:\"Specialty Retail\"},\n  {c:\"Blue Ridge Home Fashions Inc.\",d:\"blueridgehome.com\",city:\"Baldwin Park\",st:'CA',t:323,ind:\"Household Durables\"},\n  {c:\"Allied Home Llc\",d:\"alliedhomebedding.com\",city:\"Montebello\",st:'CA',t:320,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Meyer Sound Laboratories Inc.\",d:\"meyersound.com\",city:\"Berkeley\",st:'CA',t:311,ind:\"Household Durables\"},\n  {c:\"Rhythm Healthcare\",d:\"rhythmhc.com\",city:\"Corona\",st:'CA',t:307,ind:\"Specialty Retail\"},\n  {c:\"At Home Good Inc.\",d:\"athome.com\",city:\"Corona\",st:'CA',t:306,ind:\"Specialty Retail\"},\n  {c:\"Business & Pleasure Co. Llc\",d:\"businessandpleasureco.com\",city:\"Compton\",st:'CA',t:304,ind:\"Household Durables\"},\n  {c:\"Aramark Uniform & Career Apparel\",d:\"vestis.com\",city:\"Burbank\",st:'CA',t:302,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Jakks Pacific Inc.\",d:\"jakks.com\",city:\"Malibu\",st:'CA',t:295,ind:\"Leisure Products\"},\n  {c:\"Tyr Sport, Inc.\",d:\"swimwearanywhere.com\",city:\"Huntington Beach\",st:'CA',t:291,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Le Chandelle Inc.\",d:\"lechandellecandles.com\",city:\"Diamond Bar\",st:'CA',t:290,ind:\"Household Durables\"},\n  {c:\"East West Imp. Exp. Inc.\",d:\"eastwestinc.net\",city:\"Vernon\",st:'CA',t:284,ind:\"Specialty Retail\"},\n  {c:\"Hybrid Promotions, Llc\",d:\"hybridapparel.com\",city:\"Huntington Beach\",st:'CA',t:275,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Enriquez Materials & Quilting Inc.\",d:\"enriquezquilting.com\",city:\"Commerce\",st:'CA',t:274,ind:\"Household Durables\"},\n  {c:\"Shimano North America Holding Inc.\",d:\"shimano.com\",city:\"Irvine\",st:'CA',t:273,ind:\"Leisure Products\"},\n  {c:\"Revival Rugs Inc.\",d:\"revivalrugs.com\",city:\"Oakland\",st:'CA',t:265,ind:\"Household Durables\"},\n  {c:\"Punch Studio\",d:\"punchstudio.com\",city:\"Culver City\",st:'CA',t:265,ind:\"Household Durables\"},\n  {c:\"Stansport\",d:\"stansport.com\",city:\"Los Angeles\",st:'CA',t:262,ind:\"Leisure Products\"},\n  {c:\"Trend Smart America Ltd.\",d:\"cec.com.cn\",city:\"San Diego\",st:'CA',t:261,ind:\"Specialty Retail\"},\n  {c:\"Phase Ii Products Inc.\",d:\"phaseii.com\",city:\"San Diego\",st:'CA',t:259,ind:\"Household Durables\"},\n  {c:\"Ariat International Inc\",d:\"ariat.com\",city:\"Union City\",st:'CA',t:259,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Eurostar Inc.\",d:\"investors.footlocker-inc.com\",city:\"Los Angeles\",st:'CA',t:253,ind:\"Specialty Retail\"},\n  {c:\"Material Supply Inc.\",d:\"store.acpro.com\",city:\"Fontana\",st:'CA',t:248,ind:\"Specialty Retail\"},\n  {c:\"Caltric\",d:\"caltric.com\",city:\"Los Angeles\",st:'CA',t:244,ind:\"Specialty Retail\"},\n  {c:\"Fortune Swimwear Llc\",d:\"coaststylegroupbrands.com\",city:\"Culver City\",st:'CA',t:242,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Colours\",d:\"gocolours.com\",city:\"Carson\",st:'CA',t:235,ind:\"Specialty Retail\"},\n  {c:\"Amrapur Overseas, Inc.\",d:\"amrapur.com\",city:\"Garden Grove\",st:'CA',t:235,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"My Favorite Co. Inc.\",d:\"myfavoriteco.com\",city:\"Los Angeles\",st:'CA',t:233,ind:\"Leisure Products\"},\n  {c:\"Bear Down Brands Llc\",d:\"pureenrichment.com\",city:\"Huntington Beach\",st:'CA',t:227,ind:\"Household Durables\"},\n  {c:\"Playmates Toys Inc.\",d:\"playmates.net\",city:\"El Segundo\",st:'CA',t:220,ind:\"Leisure Products\"},\n  {c:\"Z Supply Llc\",d:\"zsupplyllc.com\",city:\"Irvine\",st:'CA',t:216,ind:\"Textiles, Apparel and Luxury Goods\"},\n  {c:\"Zenoff Products Inc.\",d:\"mybrestfriend.com\",city:\"Foster City\",st:'CA',t:213,ind:\"Specialty Retail\"},\n  {c:\"Sierra Living Concepts Inc.\",d:\"sierralivingconcepts.com\",city:\"Fremont\",st:'CA',t:212,ind:\"Specialty Retail\"},\n  {c:\"T3 Micro Inc.\",d:\"t3micro.com\",city:\"Venice\",st:'CA',t:209,ind:\"Household Durables\"},\n  {c:\"Bia Cordon Bleu Inc.\",d:\"biacordonblu.com\",city:\"Galt\",st:'CA',t:207,ind:\"Household Durables\"},\n  {c:\"Boo Young Co. Inc.\",d:\"byoungco.com\",city:\"Carson\",st:'CA',t:206,ind:\"Specialty Retail\"},\n  {c:\"Honeylove Sculptwear Inc.\",d:\"honeylove.ly\",city:\"San Francisco\",st:'CA',t:203,ind:\"Specialty Retail\"},\n  {c:\"Restoration Hardware\",d:\"rh.com\",city:\"Corte Madera\",st:'CA',t:202,ind:\"Household Durables\"},\n  {c:\"Andamiro Usa\",d:\"andamirousa.com\",city:\"Gardena\",st:'CA',t:201,ind:\"Leisure Products\"},\n  {c:\"Zigi Usa Llc\",d:\"ziginy.com\",city:\"Torrance\",st:'CA',t:199,ind:\"Specialty Retail\"},\n  {c:\"Tabletops Unlimited Inc.\",d:\"tabletopsunltd.com\",city:\"Carson\",st:'CA',t:197,ind:\"Household Durables\"},\n  {c:\"Vesture Corp\",d:\"microcoretechnology.com\",city:\"Burbank\",st:'CA',t:196,ind:\"Household Durables\"},\n  {c:\"Aver Information Inc.\",d:\"aver.com\",city:\"Fremont\",st:'CA',t:195,ind:\"Household Durables\"}\n];\nlet list = companies;\nif (TEST_DOMAINS.length) list = companies.filter(c => TEST_DOMAINS.includes(c.d));\nreturn list.map(c => ({ json: { company:c.c, domain:c.d, city:c.city, state:c.st, teu:c.t, industry:c.ind } }));"
      },
      "id": "cw-a-001",
      "name": "CA core-fit input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cw-a-002",
      "name": "Loop companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Apollo People Search body for this company's domain. FREE (no credits); returns no emails.\nconst c = $json;\nconst searchBody = {\n  q_organization_domains_list: [c.domain],\n  person_titles: [\"owner\", \"president\", \"ceo\", \"chief operating officer\", \"coo\", \"vp operations\", \"vice president operations\", \"director of operations\", \"vp supply chain\", \"director of supply chain\", \"head of supply chain\", \"vp logistics\", \"director of logistics\", \"head of logistics\", \"director of distribution\", \"distribution manager\", \"warehouse manager\", \"director of warehousing\", \"head of fulfillment\", \"vp fulfillment\"],\n  person_seniorities: [\"owner\", \"founder\", \"c_suite\", \"vp\", \"director\", \"head\"],\n  include_similar_titles: true, per_page: 10, page: 1\n};\nreturn [{ json: { ...c, searchBody } }];"
      },
      "id": "cw-a-003",
      "name": "Build people search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.searchBody) }}",
        "options": {}
      },
      "id": "cw-a-004",
      "name": "Apollo People Search (free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Keep the 1-2 best warehousing decision-makers. ALWAYS returns one item (picked:[] if none)\n// so the batch loop never breaks; an IF node downstream skips no-contact companies.\nconst ctx = $('Build people search').item.json;\nconst people = ($json.people || $json.contacts || []);\nconst PRI = ['owner','president','ceo','coo','chief operating','operations','supply chain','logistics','distribution','warehouse','fulfillment'];\nconst rank = p => { const t=(p.title||'').toLowerCase(); const i=PRI.findIndex(k=>t.includes(k)); return i<0?99:i; };\nconst picked = people.filter(p=>p&&(p.id||p.first_name)).sort((a,b)=>rank(a)-rank(b)).slice(0,2)\n  .map(p=>({ id:p.id, first_name:p.first_name, last_name:p.last_name, title:p.title, linkedin_url:p.linkedin_url, seniority:p.seniority }));\nconst enrichBody = picked.length ? { reveal_personal_emails:true, reveal_phone_number:false,\n  details: picked.map(p => p.id ? { id:p.id } : { first_name:p.first_name, last_name:p.last_name, domain:ctx.domain }) } : null;\nreturn [{ json: { company:ctx.company, domain:ctx.domain, city:ctx.city, state:ctx.state, teu:ctx.teu, industry:ctx.industry, picked, enrichBody } }];"
      },
      "id": "cw-a-005",
      "name": "Pick best contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.enrichBody) }}",
        "options": {}
      },
      "id": "cw-a-009",
      "name": "Apollo reveal email (1 credit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Score AFTER enrichment, so timing/growth are DATA-DRIVEN (real Apollo firmographics), not guessed.\n// Enrichment response (matches) on $json; company context from 'Pick best contacts'.\nconst ctx = $('Pick best contacts').item.json;\nconst m   = ($json.matches || [])[0] || {};\nconst org = m.organization || {};\nconst ind = ctx.industry || 'consumer goods';\nconst rubric = `You are scoring a US importer in the \"${ind}\" category as a prospect for Cubework's flexible, month-to-month warehouse space near the Ports of LA/Long Beach (Inland Empire) and other Cubework metros. The ideal prospect moves real container volume but is NOT so large it already owns its distribution.\\nScore 7 factors using the data provided: volume_trend(0-20 higher TEU / growth = outgrowing space); right_size(0-20 mid-size; PENALIZE giants that own DCs and tiny importers); seasonality(0-15 category spikes); dtc(0-15 holds own inventory); bulk(0-10 bulky goods like furniture/home/sporting); recurring(0-10); timing(0-10 use headcount_growth / funding / open_jobs \u2014 rising = expanding = needs space now).\\nTiers: Hot>=70, Warm 45-69, Watch<45. Score conservatively when data is thin.\\nReturn ONLY minified JSON: {\\\"total\\\":n,\\\"tier\\\":\\\"Hot|Warm|Watch\\\",\\\"why_now\\\":\\\"one sentence (cite a real signal if present)\\\",\\\"email_subject\\\":\\\"...\\\",\\\"email_body\\\":\\\"~80 words, value-led, lead with port-proximity + flexible space for this company's bulky/seasonal inventory, reference the company and its category specifically, offer to share how similar importers structure overflow space, never use the phrase follow up, sign as Justin\\\"}`;\nconst candidate = JSON.stringify({ company:ctx.company, industry:ind, state:ctx.state, teu:ctx.teu,\n  employees:org.estimated_num_employees, founded:org.founded_year,\n  annual_revenue:org.annual_revenue_printed||org.annual_revenue||null,\n  total_funding:org.total_funding_printed||org.total_funding||null,\n  latest_funding:org.latest_funding_stage||null,\n  headcount_growth_6mo:org.organization_headcount_six_month_growth,\n  headcount_growth_12mo:org.organization_headcount_twelve_month_growth,\n  open_jobs:org.organization_num_jobs||org.num_jobs||null });\nconst requestBody = { model:'gpt-4o', max_tokens:700, response_format:{ type:'json_object' },\n  messages:[ { role:'system', content:rubric }, { role:'user', content:'Company data:\\n'+candidate } ] };\nreturn [{ json: { ...ctx, requestBody } }];"
      },
      "id": "cw-a-006",
      "name": "Build scoring prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "cw-a-007",
      "name": "Score + draft (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API \u2014 do-or-wait"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// Build the rich Firestore `outreach` doc. NO GATE \u2014 write every qualified company\n// (tier is just a label). Context from 'Pick best contacts'; enrichment from 'Apollo reveal email';\n// OpenAI score on $json. Deterministic id ap-<domain> => re-runs skip (no clobber). Phone empty until reveal-on-reply.\nconst ctx = $('Pick best contacts').item.json;\nconst m   = ($('Apollo reveal email (1 credit)').item.json.matches || [])[0] || {};\nconst org = m.organization || {};\nconst p0  = (ctx.picked && ctx.picked[0]) || {};\nlet parsed = {};\ntry { const t=($json.choices&&$json.choices[0]&&$json.choices[0].message&&$json.choices[0].message.content)||$json.text||'{}';\n  parsed = JSON.parse(t.trim().replace(/^```json/i,'').replace(/```$/,'').trim()); } catch(e){ parsed = {}; }\nconst email = m.email || (m.personal_emails && m.personal_emails[0]) || '';\nconst fullName = m.name || ((m.first_name||p0.first_name||'') + ' ' + (m.last_name||p0.last_name||'')).trim();\nconst title = m.title || p0.title || '';\nconst now = new Date().toISOString();\nconst slug = 'ap-' + ctx.domain.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');\nconst S = v => ({ stringValue:(v==null?'':String(v)) });\nconst I = v => ({ integerValue:String(Math.round(Number(v)||0)) });\nconst pct = v => (v==null||v===''?'':(Math.round(Number(v)*1000)/10)+'%');\nconst fields = {\n  company:S(ctx.company), domain:S(ctx.domain),\n  first_name:S(fullName), contact:S(title), seniority:S(m.seniority||p0.seniority||''),\n  department:S((m.departments&&m.departments[0])||''), headline:S(m.headline||''), photo:S(m.photo_url||''),\n  email:S(email), email_status:S(m.email_status||''), linkedin:S(m.linkedin_url||p0.linkedin_url||''),\n  person_loc:S([m.city,m.state].filter(Boolean).join(', ')), phone:S(''),\n  industry:S(org.industry||ctx.industry||''), employees:I(org.estimated_num_employees), founded:S(org.founded_year||''),\n  annual_revenue:S(org.annual_revenue_printed||org.annual_revenue||''),\n  total_funding:S(org.total_funding_printed||org.total_funding||''),\n  latest_funding:S([org.latest_funding_stage,org.latest_funding_round_date].filter(Boolean).join(' \\u00b7 ')),\n  growth_6mo:S(pct(org.organization_headcount_six_month_growth)),\n  growth_12mo:S(pct(org.organization_headcount_twelve_month_growth)),\n  growth_24mo:S(pct(org.organization_headcount_twenty_four_month_growth)),\n  num_jobs:I(org.organization_num_jobs||org.num_jobs||0),\n  description:S(String(org.short_description||'').slice(0,600)),\n  org_phone:S(org.phone||org.primary_phone||org.sanitized_phone||''),\n  org_address:S(org.raw_address||[org.street_address,org.city,org.state].filter(Boolean).join(', ')),\n  org_state:S(org.state||ctx.state||''), org_website:S(org.website_url||('https://'+ctx.domain)), org_linkedin:S(org.linkedin_url||''),\n  teu:I(ctx.teu),\n  prospect_tier:S(parsed.tier||''), prospect_score:I(parsed.total!=null?parsed.total:0),\n  why_now:S(parsed.why_now||''), email_subject:S(parsed.email_subject||''), email_body:S(parsed.email_body||''),\n  status:S(''), prospect_source:S('Apollo'), createdAt:{ timestampValue:now }\n};\nreturn [{ json: { slug, hasEmail:!!email, fsBody:{ fields } } }];"
      },
      "id": "cw-a-010",
      "name": "Build prospect doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/outreach?documentId={{ $json.slug }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fsBody) }}",
        "options": {}
      },
      "id": "cw-a-011",
      "name": "Create prospect in Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gentle pacing for Apollo's per-minute rate limit \u2014 async delay, NOT a Wait node\n// (a Wait node pauses/queues the execution and makes manual runs look 'stopped').\nawait new Promise(r => setTimeout(r, 2000));\nreturn $input.all();"
      },
      "id": "cw-a-012",
      "name": "Pace (rate limit)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ ($json.picked || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "cw-a-013",
      "name": "Has contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1410,
        300
      ]
    }
  ],
  "connections": {
    "Run / Test": {
      "main": [
        [
          {
            "node": "CA core-fit input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CA core-fit input": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop companies": {
      "main": [
        [],
        [
          {
            "node": "Build people search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build people search": {
      "main": [
        [
          {
            "node": "Apollo People Search (free)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo People Search (free)": {
      "main": [
        [
          {
            "node": "Pick best contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick best contacts": {
      "main": [
        [
          {
            "node": "Has contact?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo reveal email (1 credit)": {
      "main": [
        [
          {
            "node": "Build scoring prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build scoring prompt": {
      "main": [
        [
          {
            "node": "Score + draft (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + draft (OpenAI)": {
      "main": [
        [
          {
            "node": "Build prospect doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prospect doc": {
      "main": [
        [
          {
            "node": "Create prospect in Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create prospect in Firestore": {
      "main": [
        [
          {
            "node": "Pace (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pace (rate limit)": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contact?": {
      "main": [
        [
          {
            "node": "Apollo reveal email (1 credit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-012"
}