n8n/12_apollo_ingestion.json
{
  "name": "CW \u2014 12. Apollo Ingestion (Household Durables \u2192 Outreach tab)",
  "nodes": [
    {
      "parameters": {},
      "id": "cw-a-000",
      "name": "Run / Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Household Durables prospect companies (importers tab, domain-ready, ranked by TEU).\n// SCALE: regenerate this array for another industry and paste here.\n// TEST vs FULL: while TEST_DOMAINS is non-empty only those run (agreed test set);\n//   set TEST_DOMAINS = [] to run the entire Household Durables list (238 companies).\nconst TEST_DOMAINS = ['flexsteel.com','mylibertyfurniture.com','curtisint.com'];\nconst companies = [\n  {c:\"Lg Electronics Usa. Inc. 1000 Sy\",d:\"lg.com\",city:\"Englewood Cliffs\",st:\"New Jersey\",t:142613},\n  {c:\"Curtis & Co.\",d:\"curtisint.com\",city:\"Toronto\",st:\"Ontario\",t:8733},\n  {c:\"Flexsteel Industries Inc.\",d:\"flexsteel.com\",city:\"Dubuque\",st:\"Iowa\",t:7061},\n  {c:\"Tramontina Usa Inc.\",d:\"tramontina.com.br\",city:\"Sugar Land\",st:\"Texas\",t:6832},\n  {c:\"Tempur Pedic North America Llc\",d:\"somnigroup.com\",city:\"Lexington\",st:\"Kentucky\",t:5105},\n  {c:\"Harman International\",d:\"samsung.com\",city:\"Moreno Valley\",st:\"California\",t:5069},\n  {c:\"Leggett & Platt Inc.\",d:\"leggett.com\",city:\"El Paso\",st:\"Texas\",t:4077},\n  {c:\"Liberty Furniture Atlanta\",d:\"mylibertyfurniture.com\",city:\"Atlanta\",st:\"Georgia\",t:3627},\n  {c:\"Stihl Inc.\",d:\"stihl.com\",city:\"Virginia Beach\",st:\"Virginia\",t:3556},\n  {c:\"Engineered Floors Llc\",d:\"engineeredfloorsllc.com\",city:\"Dalton\",st:\"Georgia\",t:3417},\n  {c:\"Electrolux Home Care Products\",d:\"midea.com\",city:\"El Paso\",st:\"Texas\",t:3346},\n  {c:\"Loloi Rugs\",d:\"loloirugs.com\",city:\"Dallas\",st:\"Texas\",t:3002},\n  {c:\"Evenflo Co. Inc.\",d:\"gbinternational.com.hk\",city:\"Ontario\",st:\"California\",t:2918},\n  {c:\"Home Dynamix Llc\",d:\"tncliving.com\",city:\"Elk Grove Village\",st:\"Illinois\",t:2874},\n  {c:\"Bernhardt Furniture Co.\",d:\"bernhardt.com\",city:\"Lenoir\",st:\"North Carolina\",t:2539},\n  {c:\"Bosch Thermotechnology Corp.\",d:\"bosch.com\",city:\"North Aurora\",st:\"Illinois\",t:2512},\n  {c:\"Nostalgia Products Group Llc\",d:\"nostalgiaelectrics.com\",city:\"De Pere\",st:\"Wisconsin\",t:2502},\n  {c:\"Miele Inc.\",d:\"miele.com\",city:\"Princeton\",st:\"New Jersey\",t:2443},\n  {c:\"Fiskars Brands Inc. Gol Whse\",d:\"fiskarsgroup.com\",city:\"\",st:\"\",t:2062},\n  {c:\"Nourison Industries\",d:\"nourison.com\",city:\"Saddle Brook\",st:\"New Jersey\",t:2006},\n  {c:\"La Z Boy Casegoods\",d:\"la-z-boy.com\",city:\"Hudson\",st:\"North Carolina\",t:1896},\n  {c:\"University Furnishings\",d:\"universityfurnishings.com\",city:\"Dallas\",st:\"Texas\",t:1798},\n  {c:\"Princess House Inc.\",d:\"princesshouse.com\",city:\"Taunton\",st:\"Massachusetts\",t:1784},\n  {c:\"Sceptre\",d:\"sceptre.com\",city:\"City of Industry\",st:\"California\",t:1784},\n  {c:\"Jackson Furniture Industries\",d:\"jacksonfurniture.com\",city:\"Cleveland\",st:\"Tennessee\",t:1751},\n  {c:\"Orbit Irrigation Products Inc.\",d:\"husqvarnagroup.com\",city:\"North Salt Lake\",st:\"Utah\",t:1674},\n  {c:\"Sonos Inc.\",d:\"sonos.com\",city:\"\",st:\"California\",t:1625},\n  {c:\"Stylecraft Home Collection, Inc.\",d:\"stylecraftonline.com\",city:\"Southaven\",st:\"Mississippi\",t:1594},\n  {c:\"Breville Usa\",d:\"brevillegroup.com\",city:\"\",st:\"\",t:1589},\n  {c:\"Modern Marketing Concepts Inc.\",d:\"modernmktg.com\",city:\"Louisville\",st:\"Kentucky\",t:1588},\n  {c:\"Imusa Usa Llc\",d:\"groupeseb.com\",city:\"Doral\",st:\"Florida\",t:1582},\n  {c:\"The Cookware Co. (Usa) Llc\",d:\"cookware-co.com\",city:\"Irvington\",st:\"New York\",t:1526},\n  {c:\"Marquis Industries Inc.\",d:\"liveventures.com\",city:\"Chatsworth\",st:\"Georgia\",t:1522},\n  {c:\"Friedrich Air Conditioning Co.\",d:\"paloma.co.jp\",city:\"San Antonio\",st:\"Texas\",t:1501},\n  {c:\"Danby Products Inc.\",d:\"danby.com\",city:\"Findlay\",st:\"Ohio\",t:1471},\n  {c:\"Casper Sleep Inc.\",d:\"carpenter.com\",city:\"New York\",st:\"New York\",t:1470},\n  {c:\"Sony Interactive Entertainment\",d:\"sony.com\",city:\"Foster City\",st:\"California\",t:1392},\n  {c:\"E&E Co., Ltd.\",d:\"ee1994.com\",city:\"Fremont\",st:\"California\",t:1376},\n  {c:\"Spectrum Brands Inc. Attn Teran\",d:\"spectrumbrands.com\",city:\"Middleton\",st:\"Wisconsin\",t:1368},\n  {c:\"Hunter Fan Co.\",d:\"griffon.com\",city:\"Holiday City\",st:\"Ohio\",t:1349},\n  {c:\"Riverside Furniture Corp.\",d:\"riverside-furniture.com\",city:\"Fort Smith\",st:\"Arkansas\",t:1343},\n  {c:\"Ergomotion Inc.\",d:\"keeson.com\",city:\"Santa Barbara\",st:\"California\",t:1274},\n  {c:\"Bissell Homecare Inc.\",d:\"bissell.com\",city:\"Grand Rapids\",st:\"Michigan\",t:1246},\n  {c:\"Apache Mills Inc.\",d:\"apachemills.com\",city:\"\",st:\"\",t:1243},\n  {c:\"Zinus Inc.\",d:\"zinus.co.kr\",city:\"Tracy\",st:\"California\",t:1232},\n  {c:\"Bexco Enterprises Inc.\",d:\"milliondollarbaby.com\",city:\"\",st:\"\",t:1213},\n  {c:\"Wolf Steel Ltd.\",d:\"napoleon.com\",city:\"\",st:\"\",t:1178},\n  {c:\"Creative Co Op Inc.\",d:\"regent-holding.com\",city:\"Memphis\",st:\"Tennessee\",t:1163},\n  {c:\"Whitewood Industries\",d:\"whitewoodfurniture.com\",city:\"Thomasville\",st:\"North Carolina\",t:1134},\n  {c:\"Interdesign Inc.\",d:\"idesignlivesimply.com\",city:\"Solon\",st:\"Ohio\",t:1131},\n  {c:\"New View Gifts & Accessories Ltd.\",d:\"newviewgifts.com\",city:\"Media\",st:\"Pennsylvania\",t:1081},\n  {c:\"Lovesac\",d:\"lovesac.com\",city:\"\",st:\"\",t:1073},\n  {c:\"Italkraft Llc\",d:\"italkraft.com\",city:\"Miami\",st:\"Florida\",t:1070},\n  {c:\"Ardmore Home Design Llc\",d:\"madegoods.com\",city:\"Hacienda Heights\",st:\"California\",t:1017},\n  {c:\"Golden Goose Logistics Llc\",d:\"kickstarter.com\",city:\"\",st:\"\",t:994},\n  {c:\"Topway Global Inc.\",d:\"watts.com\",city:\"Brea\",st:\"California\",t:992},\n  {c:\"The Dixie Group Inc.\",d:\"thedixiegroup.com\",city:\"Dalton\",st:\"Georgia\",t:976},\n  {c:\"Uniek Inc.\",d:\"pylegroup.ca\",city:\"Waunakee\",st:\"Wisconsin\",t:966},\n  {c:\"Wahl Clipper Corporation\",d:\"wahl.com\",city:\"Sterling\",st:\"Illinois\",t:959},\n  {c:\"Currey & Co. (Us)\",d:\"curreycodealers.com\",city:\"\",st:\"\",t:950},\n  {c:\"Tradewinds Climate Systems\",d:\"twclimate.com\",city:\"Jacksonville\",st:\"Florida\",t:922},\n  {c:\"Fit Fresh\",d:\"fit-fresh.com\",city:\"Providence\",st:\"Rhode Island\",t:890},\n  {c:\"Homestretch, Llc.\",d:\"homestretchva.org\",city:\"\",st:\"\",t:878},\n  {c:\"Caba Design Corp.\",d:\"cabadesign.co\",city:\"Rancho Cordova\",st:\"California\",t:868},\n  {c:\"Knape & Vogt Mfg. Co.\",d:\"knapeandvogt.com\",city:\"\",st:\"\",t:864},\n  {c:\"Summer Classics\",d:\"gabbyhome.com\",city:\"Pelham\",st:\"Alabama\",t:861},\n  {c:\"Barcalounger\",d:\"barcalounger.com\",city:\"Morristown\",st:\"Tennessee\",t:857},\n  {c:\"Tacony Corporation\",d:\"tacony.com\",city:\"Fenton\",st:\"Missouri\",t:846},\n  {c:\"Pioneer Automotive Technologies Inc.\",d:\"global.pioneer\",city:\"Springboro\",st:\"Ohio\",t:844},\n  {c:\"M Design Village Llc\",d:\"mdesignvillage.com\",city:\"Franklin Township\",st:\"New Jersey\",t:842},\n  {c:\"Brumate Llc\",d:\"brumate.com\",city:\"Denver\",st:\"Colorado\",t:835},\n  {c:\"Stillwater Designs\",d:\"kicker.com\",city:\"Stillwater\",st:\"Oklahoma\",t:833},\n  {c:\"Rollease Acmeda\",d:\"jmfamily.com\",city:\"\",st:\"\",t:829},\n  {c:\"Rev A Shelf Ras 2 Location\",d:\"jonesplastic.com\",city:\"Louisville\",st:\"Kentucky\",t:829},\n  {c:\"Pentair Residential Filtration Llc\",d:\"pentair.com\",city:\"Milwaukee\",st:\"Wisconsin\",t:804},\n  {c:\"Jonathan Louis Inernational Inc.\",d:\"jonathanlouis.net\",city:\"\",st:\"\",t:804},\n  {c:\"Hollywood Bed & Spring Mfg. Co. Inc.\",d:\"hollywoodbed.com\",city:\"\",st:\"\",t:800},\n  {c:\"National Christmas Products Inc.\",d:\"nationaltree.com\",city:\"Cranford\",st:\"New Jersey\",t:771},\n  {c:\"Lasko Products\",d:\"lasko.com\",city:\"Fort Worth\",st:\"Texas\",t:759},\n  {c:\"Keeco, Llc.\",d:\"hollandersleepproducts.com\",city:\"Hayward\",st:\"California\",t:752},\n  {c:\"Sirio North America Inc.\",d:\"shopsirio.com\",city:\"\",st:\"\",t:751},\n  {c:\"Ekornes Inc.\",d:\"qumei.com\",city:\"Franklin Township\",st:\"New Jersey\",t:750},\n  {c:\"Thuma Inc.\",d:\"thuma.co\",city:\"\",st:\"\",t:741},\n  {c:\"Hills Point Industries Llc\",d:\"gorillagrip.com\",city:\"\",st:\"\",t:725},\n  {c:\"Westfield Outdoor Inc.\",d:\"westfieldoutdoor.com\",city:\"Indianapolis\",st:\"Indiana\",t:722},\n  {c:\"Elsa\",d:\"www2.elsal.com\",city:\"\",st:\"\",t:705},\n  {c:\"Gale Pacific Usa Inc.\",d:\"galepacific.com\",city:\"Rancho Cucamonga\",st:\"California\",t:703},\n  {c:\"Cozey Inc.\",d:\"cozey.ca\",city:\"\",st:\"\",t:689},\n  {c:\"Ac Infinity Inc.\",d:\"acinfinity.com\",city:\"City of Industry\",st:\"California\",t:688},\n  {c:\"Rinnai America Corp.\",d:\"rinnai.co.jp\",city:\"Peachtree City\",st:\"Georgia\",t:685},\n  {c:\"Grafiti Home Inc. (Dba 7 Th Avenue)\",d:\"grafitihome.com\",city:\"Compton\",st:\"California\",t:684},\n  {c:\"Supply Chain Sources Llc\",d:\"lifesmartproducts.com\",city:\"\",st:\"\",t:674},\n  {c:\"Springs Window Fashions Llc\",d:\"springswindowfashions.com\",city:\"Middleton\",st:\"Wisconsin\",t:671},\n  {c:\"Vanguard Furniture\",d:\"vanguardfurniture.com\",city:\"Conover\",st:\"North Carolina\",t:669},\n  {c:\"Mackenzie Childs, Llc\",d:\"mackenziechilds.com\",city:\"\",st:\"\",t:655},\n  {c:\"Ardisam Inc.\",d:\"ardisam.com\",city:\"Cumberland\",st:\"Wisconsin\",t:649},\n  {c:\"Aristocrat Technologies\",d:\"aristocrat.com\",city:\"Las Vegas\",st:\"Nevada\",t:634},\n  {c:\"Lamplight Farms Inc.\",d:\"wcbradley.com\",city:\"\",st:\"\",t:633},\n  {c:\"Brewster Home Fashions\",d:\"brewsterwallcovering.com\",city:\"Randolph\",st:\"Massachusetts\",t:619},\n  {c:\"Thermos Llc\",d:\"thermos.com\",city:\"Schaumburg\",st:\"Illinois\",t:618},\n  {c:\"Nexgrill Industries Inc.\",d:\"globalleisuregroup.com\",city:\"Chino\",st:\"California\",t:611},\n  {c:\"Levtex Llc.\",d:\"wholesale.levtexhome.com\",city:\"Santa Monica\",st:\"California\",t:609},\n  {c:\"Renin Us Llc\",d:\"bbxcapital.com\",city:\"Tupelo\",st:\"Mississippi\",t:608},\n  {c:\"Q.E.P. Co. Inc.\",d:\"qep.com\",city:\"Boca Raton\",st:\"Florida\",t:607},\n  {c:\"The Shekia Group Llc\",d:\"forevermarkcabinetry.com\",city:\"Edison\",st:\"New Jersey\",t:602},\n  {c:\"Foliot Furniture Pacific\",d:\"foliot.com\",city:\"Las Vegas\",st:\"Nevada\",t:596},\n  {c:\"Hillpointe Construction\",d:\"hillpointe.com\",city:\"Athens\",st:\"Georgia\",t:594},\n  {c:\"Lennox Industries Inc.\",d:\"lennox.com\",city:\"Marshalltown\",st:\"Iowa\",t:587},\n  {c:\"Walker Edison Furniture Co.\",d:\"walkeredison.com\",city:\"\",st:\"\",t:583},\n  {c:\"Aico Amini Innovation Corp.\",d:\"amini.com\",city:\"Pico Rivera\",st:\"California\",t:582},\n  {c:\"Universal Granite & Marble\",d:\"universalgranite.com\",city:\"Naperville\",st:\"Illinois\",t:575},\n  {c:\"Over And Back Inc.\",d:\"overback.com\",city:\"Hauppauge\",st:\"New York\",t:575},\n  {c:\"Intralin Corp.\",d:\"intralin.com\",city:\"\",st:\"Maryland\",t:566},\n  {c:\"Highland Cabinetry Inc.\",d:\"highlandcabinetry.com\",city:\"Phoenix\",st:\"Arizona\",t:560},\n  {c:\"Sound United\",d:\"masimo.com\",city:\"Vista\",st:\"California\",t:558},\n  {c:\"Flemish Master Weavers\",d:\"natcohome.com\",city:\"Sanford\",st:\"Maine\",t:552},\n  {c:\"Peag Llc\",d:\"jlab.com\",city:\"Carlsbad\",st:\"California\",t:546},\n  {c:\"The Uttermost Co.\",d:\"uttermost.com\",city:\"Rocky Mount\",st:\"Virginia\",t:539},\n  {c:\"Jaipur Living Inc.\",d:\"jaipurliving.com\",city:\"Acworth\",st:\"Georgia\",t:533},\n  {c:\"Phifer Inc.\",d:\"phifer.com\",city:\"Tuscaloosa\",st:\"Alabama\",t:526},\n  {c:\"Diono Llc\",d:\"us.diono.com\",city:\"Puyallup\",st:\"Washington\",t:523},\n  {c:\"Boston Warehouse Trading Corp.\",d:\"bwtc.com\",city:\"Seekonk\",st:\"Massachusetts\",t:510},\n  {c:\"Atlantic Promotions Inc.\",d:\"starfrit.com\",city:\"\",st:\"\",t:510},\n  {c:\"Stokke Llc\",d:\"stokke.com\",city:\"Kennesaw\",st:\"Georgia\",t:506},\n  {c:\"Mgr Design International\",d:\"mgrdesign.com\",city:\"Oxnard\",st:\"California\",t:504},\n  {c:\"Zagg\",d:\"evercel.com\",city:\"Salt Lake City\",st:\"Utah\",t:496},\n  {c:\"Empire Candle Co Llc\",d:\"langleyempirecandle.com\",city:\"\",st:\"\",t:494},\n  {c:\"C&T International\",d:\"sorellefurniture.com\",city:\"East Rutherford\",st:\"New Jersey\",t:492},\n  {c:\"Scs Direct Inc.\",d:\"scsdirectinc.com\",city:\"Milford\",st:\"Connecticut\",t:489},\n  {c:\"Noritz America\",d:\"noritzglobal.com\",city:\"Fountain Valley\",st:\"California\",t:488},\n  {c:\"Jeffrey Court Inc.\",d:\"jeffreycourt.com\",city:\"Norco\",st:\"California\",t:487},\n  {c:\"Universal Electronics Inc.\",d:\"uei.com\",city:\"Cypress\",st:\"California\",t:485},\n  {c:\"Bradshaw International Inc.\",d:\"bradshawhome.com\",city:\"Rancho Cucamonga\",st:\"California\",t:483},\n  {c:\"Surya Carpet Inc.\",d:\"surya.com\",city:\"White\",st:\"Georgia\",t:479},\n  {c:\"Joneca Corp.\",d:\"joneca.com\",city:\"Anaheim\",st:\"California\",t:478},\n  {c:\"Primo International\",d:\"primointernational.com\",city:\"Mississauga\",st:\"Ontario\",t:474},\n  {c:\"Mercana Furniture & Decor Ltd.\",d:\"mercana.com\",city:\"Surrey\",st:\"British Columbia\",t:459},\n  {c:\"Goodman Mfg. Co. L.P.\",d:\"daikin.com\",city:\"Houston\",st:\"Texas\",t:450},\n  {c:\"Leoben Co.\",d:\"leobenco.com\",city:\"\",st:\"\",t:446},\n  {c:\"Liberty Hardware\",d:\"masco.com\",city:\"Winston-Salem\",st:\"North Carolina\",t:446},\n  {c:\"Home Trends & Design\",d:\"htddirect.com\",city:\"Austin\",st:\"Texas\",t:442},\n  {c:\"Carlisle Foodservice Products\",d:\"cfsbrands.com\",city:\"Oklahoma City\",st:\"Oklahoma\",t:439},\n  {c:\"Theodore Alexander Usa Inc.\",d:\"oxfordcreations.com\",city:\"High Point\",st:\"North Carolina\",t:433},\n  {c:\"Loud Audio Llc\",d:\"rode.com\",city:\"Fife\",st:\"Washington\",t:432},\n  {c:\"One Diamond Electronics Inc.\",d:\"diamond-electronics.com\",city:\"Los Angeles\",st:\"California\",t:431},\n  {c:\"Infinite Creative Enterprises Inc.\",d:\"icesigns.com\",city:\"Seabrook\",st:\"New Hampshire\",t:429},\n  {c:\"Traeger Pellet Grills Llc\",d:\"traegergrills.com\",city:\"Salt Lake City\",st:\"Utah\",t:402},\n  {c:\"Ispring Water Systems Llc\",d:\"123filter.com\",city:\"Alpharetta\",st:\"Georgia\",t:396},\n  {c:\"Multy Home Lp\",d:\"multyhome.com\",city:\"Vaughan\",st:\"Ontario\",t:389},\n  {c:\"Home Legend\",d:\"homelegend.com\",city:\"Fontana\",st:\"California\",t:385},\n  {c:\"Wilton Industries\",d:\"oetker-gruppe.com\",city:\"Woodridge\",st:\"Illinois\",t:382},\n  {c:\"Paddywax\",d:\"paddywax.com\",city:\"Nashville\",st:\"Tennessee\",t:379},\n  {c:\"Snap On Equipment\",d:\"snapon.com\",city:\"Conway\",st:\"Arkansas\",t:379},\n  {c:\"Esi Cases Accessories\",d:\"esicellular.net\",city:\"Newark\",st:\"New Jersey\",t:377},\n  {c:\"Blu Dot Design\",d:\"bludot.com\",city:\"Minneapolis\",st:\"Minnesota\",t:376},\n  {c:\"Southern Motion\",d:\"southernmotion.com\",city:\"\",st:\"\",t:375},\n  {c:\"Stellar Innovations Group Inc.\",d:\"stellarhomes.us\",city:\"\",st:\"\",t:375},\n  {c:\"Tablecraft Products Co.\",d:\"tablecraft.com\",city:\"Gurnee\",st:\"Illinois\",t:368},\n  {c:\"Beaulieu Canada\",d:\"bintg.com\",city:\"Acton Vale\",st:\"Qu\\u00e9bec\",t:365},\n  {c:\"Zak Designs\",d:\"zak.com\",city:\"\",st:\"\",t:363},\n  {c:\"Visuar Sa\",d:\"visuar.com.ar\",city:\"Buenos Aires\",st:\"Ciudad Aut\\u00f3noma de Buenos Aires\",t:358},\n  {c:\"Stiebel Eltron\",d:\"stiebel-eltron.de\",city:\"Hatfield\",st:\"Massachusetts\",t:358},\n  {c:\"Seminole Consulting And Marketing\",d:\"scmdesigns.com\",city:\"Bentonville\",st:\"Arkansas\",t:357},\n  {c:\"Tyco Fire Protection Products\",d:\"johnsoncontrols.com\",city:\"Marinette\",st:\"Wisconsin\",t:356},\n  {c:\"Gourmet Home Products Llc\",d:\"gourmethomeproducts.com\",city:\"New York\",st:\"New York\",t:350},\n  {c:\"Cleva North America\",d:\"cleva-na.com\",city:\"Greenville\",st:\"South Carolina\",t:349},\n  {c:\"Butler Specialty Co.\",d:\"butlerspecialty.net\",city:\"Chicago\",st:\"Illinois\",t:347},\n  {c:\"Avanti Products\",d:\"thelegacycompanies.com\",city:\"Miami\",st:\"Florida\",t:347},\n  {c:\"Tropitone Furniture Co. Inc.\",d:\"brownjordaninc.com\",city:\"Irvine\",st:\"California\",t:333},\n  {c:\"Melnor Inc.\",d:\"melnor.com\",city:\"\",st:\"\",t:332},\n  {c:\"L & J.G. Stickley\",d:\"stickley.com\",city:\"Manlius\",st:\"New York\",t:331},\n  {c:\"Jonathan Adler\",d:\"jonathanadler.com\",city:\"New York\",st:\"New York\",t:331},\n  {c:\"Parachute Home Inc.\",d:\"parachutehome.com\",city:\"Culver City\",st:\"California\",t:331},\n  {c:\"G&T Industries\",d:\"gtindustries.com\",city:\"Byron Center\",st:\"Michigan\",t:329},\n  {c:\"Ginsey Industries. Inc.Ginsey Industries\",d:\"ginsey.com\",city:\"Logan Township\",st:\"New Jersey\",t:329},\n  {c:\"Woodard Cm Llc\",d:\"litexindustries.com\",city:\"Owosso\",st:\"Michigan\",t:323},\n  {c:\"Blue Ridge Home Fashions Inc.\",d:\"blueridgehome.com\",city:\"Baldwin Park\",st:\"California\",t:323},\n  {c:\"Mygift Enterprise Llc\",d:\"mygift.com\",city:\"Woodinville\",st:\"Washington\",t:323},\n  {c:\"Crown Awards\",d:\"crownawards.com\",city:\"\",st:\"\",t:319},\n  {c:\"Flextronics Technologies San L\",d:\"flex.com\",city:\"San Agust\\u00edn\",st:\"Jalisco\",t:317},\n  {c:\"Purple Innovation\",d:\"purple.com\",city:\"Alpine\",st:\"Utah\",t:316},\n  {c:\"Healthcare Arizona Llc\",d:\"hkfoam.com\",city:\"\",st:\"\",t:315},\n  {c:\"Meyer Sound Laboratories Inc.\",d:\"meyersound.com\",city:\"Berkeley\",st:\"California\",t:311},\n  {c:\"Pacific Blue Corp.\",d:\"pacificblueconstruction.com\",city:\"Capitol Heights\",st:\"Maryland\",t:307},\n  {c:\"Bassett Mirror Co. Inc.\",d:\"bassettmirror.com\",city:\"Henry\",st:\"Virginia\",t:306},\n  {c:\"Primitives By Kathy, Inc.\",d:\"primitivesbykathy.com\",city:\"Lancaster\",st:\"Pennsylvania\",t:305},\n  {c:\"Business & Pleasure Co. Llc\",d:\"businessandpleasureco.com\",city:\"Compton\",st:\"California\",t:304},\n  {c:\"Makita Corporation Of America\",d:\"makita.co.jp\",city:\"Buford\",st:\"Georgia\",t:304},\n  {c:\"Ikano Industries Mexico S.A. De C.V.\",d:\"group.ikano\",city:\"Saltillo\",st:\"Coahuila de Zaragoza\",t:302},\n  {c:\"Mr. Bar B Q Products\",d:\"mrbarbq.com\",city:\"Rural Hall\",st:\"North Carolina\",t:302},\n  {c:\"Couristan Inc.\",d:\"couristan.com\",city:\"Fort Lee\",st:\"New Jersey\",t:295},\n  {c:\"Conair Consumer Products Ulc\",d:\"conair.com\",city:\"\",st:\"\",t:292},\n  {c:\"Precision Trading Corp.\",d:\"precisiontrading.com\",city:\"Pella\",st:\"Iowa\",t:290},\n  {c:\"Le Chandelle Inc.\",d:\"lechandellecandles.com\",city:\"Diamond Bar\",st:\"California\",t:290},\n  {c:\"Gare Inc.\",d:\"gareceramics.com\",city:\"Haverhill\",st:\"Massachusetts\",t:286},\n  {c:\"Electrolux Home Products\",d:\"electroluxgroup.com\",city:\"Fletcher\",st:\"North Carolina\",t:281},\n  {c:\"Enriquez Materials & Quilting Inc.\",d:\"enriquezquilting.com\",city:\"Commerce\",st:\"California\",t:274},\n  {c:\"Forever Gifts Inc.\",d:\"forevergiftsinc.com\",city:\"\",st:\"\",t:273},\n  {c:\"Ocv Mexico S De Rl De Cv\",d:\"owenscorning.com\",city:\"Tetla\",st:\"Tlaxcala\",t:270},\n  {c:\"Bernina Of America\",d:\"bernina.com\",city:\"Aurora\",st:\"Illinois\",t:268},\n  {c:\"Viscosoft Inc.\",d:\"viscosoft.com\",city:\"\",st:\"\",t:268},\n  {c:\"Q And V Power Inc.\",d:\"qpowerinc.com\",city:\"Houston\",st:\"Texas\",t:266},\n  {c:\"Revival Rugs Inc.\",d:\"revivalrugs.com\",city:\"Oakland\",st:\"California\",t:265},\n  {c:\"Punch Studio\",d:\"punchstudio.com\",city:\"Culver City\",st:\"California\",t:265},\n  {c:\"Zylux America Inc.\",d:\"zyluxacoustic.com\",city:\"Washington\",st:\"Pennsylvania\",t:261},\n  {c:\"Phase Ii Products Inc.\",d:\"phaseii.com\",city:\"San Diego\",st:\"California\",t:259},\n  {c:\"Jl Audio Inc.\",d:\"garmin.com\",city:\"Miramar\",st:\"Florida\",t:255},\n  {c:\"American Metalcraft Inc.\",d:\"amnow.com\",city:\"Melrose Park\",st:\"Illinois\",t:249},\n  {c:\"Sweet Home Kitchen & Bath Inc.\",d:\"procraftcabinetry.com\",city:\"\",st:\"\",t:248},\n  {c:\"Teka Mexicana Sa De Cv\",d:\"teka.com.mx\",city:\"Mexico City\",st:\"Federal District\",t:247},\n  {c:\"Door Kraft Products Inc.\",d:\"doorkraft.com\",city:\"\",st:\"\",t:246},\n  {c:\"Fairfield Chair Co.\",d:\"fairfieldchair.com\",city:\"Lenoir\",st:\"North Carolina\",t:245},\n  {c:\"O2 Cool Llc\",d:\"maurice.net\",city:\"Chicago\",st:\"Illinois\",t:240},\n  {c:\"Stark Carpet Corp.\",d:\"starkcarpet.com\",city:\"Calhoun\",st:\"Georgia\",t:232},\n  {c:\"Gemmy Industries Corp.\",d:\"gemmy.com\",city:\"Coppell\",st:\"Texas\",t:232},\n  {c:\"Bear Down Brands Llc\",d:\"pureenrichment.com\",city:\"Huntington Beach\",st:\"California\",t:227},\n  {c:\"Creative Brands\",d:\"autom.com\",city:\"\",st:\"New York\",t:220},\n  {c:\"Sauder Woodworking\",d:\"sauder.com\",city:\"Archbold\",st:\"Ohio\",t:217},\n  {c:\"The Singing Machine Co. Inc.\",d:\"singingmachine.com\",city:\"\",st:\"\",t:211},\n  {c:\"T3 Micro Inc.\",d:\"t3micro.com\",city:\"Venice\",st:\"California\",t:209},\n  {c:\"Bia Cordon Bleu Inc.\",d:\"biacordonblu.com\",city:\"Galt\",st:\"California\",t:207},\n  {c:\"Momeni Inc.\",d:\"momeni.com\",city:\"Carlstadt\",st:\"New Jersey\",t:207},\n  {c:\"Restoration Hardware\",d:\"rh.com\",city:\"Corte Madera\",st:\"California\",t:202},\n  {c:\"Adven Group Inc.\",d:\"adven.com\",city:\"\",st:\"\",t:200},\n  {c:\"Forestal Alfa Sa De Cv\",d:\"forestalalfa.com.mx\",city:\"Durango\",st:\"Durango\",t:200},\n  {c:\"Shure Inc.\",d:\"shure.com\",city:\"El Paso\",st:\"Texas\",t:198},\n  {c:\"Tabletops Unlimited Inc.\",d:\"tabletopsunltd.com\",city:\"Carson\",st:\"California\",t:197},\n  {c:\"Vesture Corp\",d:\"microcoretechnology.com\",city:\"Burbank\",st:\"California\",t:196},\n  {c:\"Nurturen Inc.\",d:\"nurtureand.com\",city:\"\",st:\"\",t:196},\n  {c:\"Carrier Interamerica Corporation\",d:\"watsco.com\",city:\"Miami\",st:\"Florida\",t:195},\n  {c:\"Aver Information Inc.\",d:\"aver.com\",city:\"Fremont\",st:\"California\",t:195},\n  {c:\"Mvp Group Corp.\",d:\"mvpgroupint.com\",city:\"\",st:\"Connecticut\",t:194},\n  {c:\"Marshall Pottery Inc.\",d:\"deromausa.myshopify.com\",city:\"Marshall\",st:\"Texas\",t:193},\n  {c:\"Dundas Jafine Inc.\",d:\"dundasjafine.com\",city:\"\",st:\"\",t:193},\n  {c:\"Express Homes\",d:\"impresamodular.com\",city:\"Phoenix\",st:\"Arizona\",t:193},\n  {c:\"The Metal Ware Corp.\",d:\"nesco.com\",city:\"Two Rivers\",st:\"Wisconsin\",t:189},\n  {c:\"Canarm Ltd.\",d:\"canarm.com\",city:\"Laval\",st:\"Qu\\u00e9bec\",t:188},\n  {c:\"The Howard Elliott Collection\",d:\"howardelliott.com\",city:\"Addison\",st:\"Illinois\",t:187}\n];\nlet list = companies;\nif (TEST_DOMAINS.length) list = companies.filter(c => TEST_DOMAINS.includes(c.d));\nreturn list.map(c => ({ json: { company:c.c, domain:c.d, city:c.city, state:c.st, teu:c.t, industry:'Household Durables' } }));"
      },
      "id": "cw-a-001",
      "name": "Household Durables input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cw-a-002",
      "name": "Loop companies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Apollo People Search body for this company's domain. FREE (no credits); returns no emails.\nconst c = $json;\nconst searchBody = {\n  q_organization_domains_list: [c.domain],\n  person_titles: [\"owner\", \"president\", \"ceo\", \"chief operating officer\", \"coo\", \"vp operations\", \"vice president operations\", \"director of operations\", \"vp supply chain\", \"director of supply chain\", \"head of supply chain\", \"vp logistics\", \"director of logistics\", \"head of logistics\", \"director of distribution\", \"distribution manager\", \"warehouse manager\", \"director of warehousing\", \"head of fulfillment\", \"vp fulfillment\"],\n  person_seniorities: [\"owner\", \"founder\", \"c_suite\", \"vp\", \"director\", \"head\"],\n  include_similar_titles: true, per_page: 10, page: 1\n};\nreturn [{ json: { ...c, searchBody } }];"
      },
      "id": "cw-a-003",
      "name": "Build people search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.searchBody) }}",
        "options": {}
      },
      "id": "cw-a-004",
      "name": "Apollo People Search (free)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Search response on $json (Apollo `people`); company context from prior code node (HTTP replaced the item).\nconst ctx = $('Build people search').item.json;\nconst people = ($json.people || $json.contacts || []);\nconst PRI = ['owner','president','ceo','coo','chief operating','operations','supply chain','logistics','distribution','warehouse','fulfillment'];\nconst rank = p => { const t=(p.title||'').toLowerCase(); const i=PRI.findIndex(k=>t.includes(k)); return i<0?99:i; };\nconst picked = people.filter(p=>p&&(p.id||p.first_name)).sort((a,b)=>rank(a)-rank(b)).slice(0,2)\n  .map(p=>({ id:p.id, first_name:p.first_name, last_name:p.last_name, title:p.title, linkedin_url:p.linkedin_url, seniority:p.seniority }));\nif (!picked.length) return [];\nconst org = (people[0] && people[0].organization) || {};\nreturn [{ json: { company:ctx.company, domain:ctx.domain, city:ctx.city, state:ctx.state, teu:ctx.teu, industry:ctx.industry, emp:org.estimated_num_employees||null, org_industry:org.industry||'', picked } }];"
      },
      "id": "cw-a-005",
      "name": "Pick best contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Score vs Cubework fit rubric and draft a Household-Durables opener (OpenAI). Model: gpt-4o (swap to gpt-4o-mini for cheaper volume).\nconst c = $json;\nconst rubric = `You are scoring an importer of household-durables goods (furniture, appliances, home) as a prospect for Cubework's flexible, month-to-month warehouse space near the Ports of LA/Long Beach (Inland Empire) and other Cubework metros. The ideal prospect moves real container volume but is NOT so large it already owns its distribution.\\nScore 7 factors: volume_trend(0-20 higher TEU=outgrowing space); right_size(0-20 mid-size; PENALIZE giants that own DCs and tiny importers); seasonality(0-15); dtc(0-15 holds own inventory); bulk(0-10 furniture/home score high); recurring(0-10); timing(0-10).\\nTiers: Hot>=70, Warm 45-69, Watch<45. Score conservatively when data is thin.\\nReturn ONLY minified JSON: {\\\"total\\\":n,\\\"tier\\\":\\\"Hot|Warm|Watch\\\",\\\"why_now\\\":\\\"one sentence\\\",\\\"email_subject\\\":\\\"...\\\",\\\"email_body\\\":\\\"~80 words, value-led, lead with port-proximity + flexible space for bulky/seasonal inventory, reference this company specifically, offer to share how similar importers structure overflow space, never use the phrase follow up, sign as Justin\\\"}`;\nconst candidate = JSON.stringify({ company:c.company, domain:c.domain, state:c.state, teu:c.teu, employees:c.emp, org_industry:c.org_industry });\n// OpenAI chat completions. response_format forces clean JSON (rubric already asks for JSON).\nconst requestBody = { model:'gpt-4o', max_tokens:700, response_format:{ type:'json_object' },\n  messages:[ { role:'system', content:rubric }, { role:'user', content:'Company:\\n'+candidate } ] };\nreturn [{ json: { ...c, requestBody } }];"
      },
      "id": "cw-a-006",
      "name": "Build scoring prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "cw-a-007",
      "name": "Score + draft (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// OpenAI response on $json.choices[0].message.content; context from 'Pick best contacts'.\n// Keep Hot/Warm only (giants tier Watch -> dropped BEFORE spending any email credit).\n// Email reveal: reveal_personal_emails=true (1 credit each); phones=false (revealed later on reply).\nconst ctx = $('Pick best contacts').item.json;\nlet parsed = {};\ntry { const t=($json.choices&&$json.choices[0]&&$json.choices[0].message&&$json.choices[0].message.content)||$json.text||'{}';\n  parsed = JSON.parse(t.trim().replace(/^```json/i,'').replace(/```$/,'').trim()); } catch(e){ return []; }\nconst tier = parsed.tier || 'Watch';\nif (tier === 'Watch') return [];\nconst enrichBody = { reveal_personal_emails:true, reveal_phone_number:false,\n  details: ctx.picked.map(p => p.id ? { id:p.id } : { first_name:p.first_name, last_name:p.last_name, domain:ctx.domain }) };\nreturn [{ json: { ...ctx, parsed, tier, enrichBody } }];"
      },
      "id": "cw-a-008",
      "name": "Gate + build email reveal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/people/bulk_match",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.enrichBody) }}",
        "options": {}
      },
      "id": "cw-a-009",
      "name": "Apollo reveal email (1 credit)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Apollo API \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a Firestore `outreach` doc \u2014 the app's \ud83d\udce7 Outreach tab reads this collection (matched by domain).\n// Watch-tier & no-contact already dropped upstream. Deterministic id ap-<domain> => re-runs return\n// ALREADY_EXISTS (409) and skip, so your Status edits are never clobbered. Phone empty until reveal-on-reply.\nconst ctx = $('Gate + build email reveal').item.json;\nconst m0 = ($json.matches || [])[0] || {};\nconst p0 = (ctx.picked && ctx.picked[0]) || {};\nconst email = m0.email || (m0.personal_emails && m0.personal_emails[0]) || '';\nconst first = ((m0.first_name||p0.first_name||'') + ' ' + (m0.last_name||p0.last_name||'')).trim();\nconst title = m0.title || p0.title || '';\nconst now = new Date().toISOString();\nconst slug = 'ap-' + ctx.domain.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');\nconst S = v => ({ stringValue: String(v==null?'':v) });\nconst fields = {\n  company:S(ctx.company), domain:S(ctx.domain), first_name:S(first), contact:S(title),\n  email:S(email), phone:S(''), city:S(ctx.city), state:S(ctx.state),\n  teu:{ integerValue:String(ctx.teu||0) }, prospect_tier:S(ctx.tier),\n  prospect_score:{ integerValue:String(ctx.parsed.total!=null?ctx.parsed.total:0) },\n  why_now:S(ctx.parsed.why_now||''), email_subject:S(ctx.parsed.email_subject||''),\n  email_body:S(ctx.parsed.email_body||''), linkedin:S(p0.linkedin_url||''),\n  status:S(''), prospect_source:S('Apollo'), createdAt:{ timestampValue:now }\n};\nreturn [{ json: { slug, hasEmail: !!email, fsBody: { fields } } }];"
      },
      "id": "cw-a-010",
      "name": "Build prospect doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/outreach?documentId={{ $json.slug }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fsBody) }}",
        "options": {}
      },
      "id": "cw-a-011",
      "name": "Create prospect in Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account \u2014 do-or-wait"
        }
      }
    }
  ],
  "connections": {
    "Run / Test": {
      "main": [
        [
          {
            "node": "Household Durables input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Household Durables input": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop companies": {
      "main": [
        [],
        [
          {
            "node": "Build people search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build people search": {
      "main": [
        [
          {
            "node": "Apollo People Search (free)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo People Search (free)": {
      "main": [
        [
          {
            "node": "Pick best contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick best contacts": {
      "main": [
        [
          {
            "node": "Build scoring prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build scoring prompt": {
      "main": [
        [
          {
            "node": "Score + draft (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate + build email reveal": {
      "main": [
        [
          {
            "node": "Apollo reveal email (1 credit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo reveal email (1 credit)": {
      "main": [
        [
          {
            "node": "Build prospect doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prospect doc": {
      "main": [
        [
          {
            "node": "Create prospect in Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create prospect in Firestore": {
      "main": [
        [
          {
            "node": "Loop companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + draft (OpenAI)": {
      "main": [
        [
          {
            "node": "Gate + build email reveal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-012"
}