n8n/13_research_prospect.json
{
  "name": "CW \u2014 13. Research & Personalize (OpenAI web search)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research-prospect",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cw-r-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "research-prospect"
    },
    {
      "parameters": {
        "jsCode": "// Build the OpenAI web-search request from the webhook payload.\nconst b = $json.body || $json;\nconst sys = \"You are a sales research assistant for Cubework, which offers flexible month-to-month warehouse space across the Los Angeles area and Southern California, well positioned for port-driven import traffic, with the ability to scale a customer across more than one site. It is built for overflow and seasonal inventory. Cubework uses simple license agreements, NOT leases. ALL-INCLUSIVE pricing is a key differentiator: one monthly rate covers space, utilities, CAM, property taxes, security, and maintenance, so customers avoid NNN add-ons. Sell TOTAL COST OF OCCUPANCY, not base rent. Research the company on the web: what they sell, size and operations, and especially any TRIGGER EVENT in roughly the last 12 months. RANK trigger strength and use the STRONGEST. STRONG: new or expanded facility/DC, funding round, rapid hiring, entering a new region or market, major new retail or distribution partnership, clear volume growth. WEAK: a single product launch, an award, a rebrand. Only use a weak trigger if you can tie it to REAL added volume, and make the link concrete (e.g. new SKUs to stock alongside existing imports), never a hand-wavy generality. TONE FILTER (critical): only ever reference POSITIVE or NEUTRAL events such as expansion, a new facility, funding, hiring, a new product line, a new market or region, a partnership, or an award. NEVER mention anything negative or sensitive in the email: no lawsuits, settlements, recalls, fines, regulatory or compliance problems, layoffs, closures, bankruptcies, data breaches, or any bad press. If the only recent news is negative, IGNORE it completely and open instead with a positive or neutral operational observation about companies of their type and size. Never put the prospect in a bad light. ANTI-FAKE-PERSONALIZATION: do not name a fact just to look personalized. The connection between the trigger and a warehousing pain must be SPECIFIC and non-obvious. If the only link you can make is a generic one (such as 'growth leads to more demand which can strain capacity'), do NOT write that. Instead skip the forced angle and open with ONE honest, direct sentence about flexible month-to-month overflow space in the LA area, then go to pricing and the ask. A short honest email beats a fake-personalized one. Then produce TWO things. (1) research_brief: a JSON array of 5 to 8 SHORT fact strings; strongest trigger first, noting why it matters operationally. (2) email_body: a cold email FROM Justin, written like a LOGISTICS OPERATOR, NOT a marketer. Open with the strongest trigger, tie it to a SPECIFIC, believable West Coast inventory/overflow pain (no generic 'fluctuating inventory' lines), pitch conditionally (if they are hitting overflow in the LA area, we run flexible month-to-month space for exactly that), state the all-in pricing (one monthly number covering space, utilities, CAM, property taxes, security, maintenance; no NNN surprises; no long-term commitments), and end with ONE short low-friction question asking for INTEREST not a meeting. If no real trigger, open with a sharp category-specific operational observation, never a product recap. MATCH THE TONE AND STRUCTURE OF THESE TWO EXAMPLES EXACTLY (do not reuse their facts): EXAMPLE A: Saw your recent expansion into the 500k sq ft facility in South Carolina. When importers spin up a big East Coast hub, balancing West Coast inventory gets volatile and overflow space becomes a headache. If you are hitting seasonal swings in the LA area, we run flexible month-to-month warehouse space built for exactly that. Our rate is all-in, one monthly number covering space, utilities, CAM, property taxes, security, and maintenance. No NNN surprises and no long-term commitments. Worth a brief chat to see how other importers use us for West Coast overflow? Best, Justin EXAMPLE B: Saw you just rolled out the new 100Hz office monitor line. Adding SKUs like that usually means carrying more inventory alongside everything you are already importing, and West Coast storage gets tight fast heading into peak. If you are hitting overflow in the LA area, we run flexible month-to-month warehouse space built for exactly that. Our rate is all-in, one monthly number covering space, utilities, CAM, property taxes, security, and maintenance. No NNN surprises, no long-term commitments. Worth a brief chat to see how other electronics importers handle West Coast overflow with us? Best, Justin VOICE: plain, direct, operator to operator. Short sentences. Write as 'we'. VOCABULARY RULE: NEVER use the word 'lease' in any form. Say 'no long-term commitments'. HARD RULES: no specific Cubework city/facility and no drive-time/distance claim (keep location general: LA area, Southern California, West Coast). PUNCTUATION: use only periods, commas, and question marks. Do NOT use any dash character to join clauses (no long dash, no short dash, no double hyphen). Rewrite with a period or comma instead. No bulleted or numbered lists. No hype, no exclamation points. Do NOT use: 'I hope this finds you well', 'I wanted to reach out', 'just checking in', 'circle back', 'follow up', 'leverage', 'synergy', 'elevate', 'streamline', 'fast-paced', 'I understand the importance of', 'ideal for', 'I would be happy to discuss', 'if this aligns with your', 'impressive', 'providing a predictable', 'solutions', 'often lead to fluctuating inventory', 'new product introductions often', 'rapid expansion', 'often leads to increased', 'strain existing warehouse capacity', 'designed specifically for', 'such situations', 'increased production and distribution demands'. Keep it roughly 90 to 120 words. Sign it exactly: Best, Justin. Return ONLY minified JSON, no prose and no code fences: {\\\"research_brief\\\":[\\\"fact\\\",\\\"fact\\\"],\\\"email_subject\\\":\\\"...\\\",\\\"email_body\\\":\\\"...\\\"}\";\nconst candidate = JSON.stringify({ company:b.company, domain:b.domain, industry:b.industry, location:b.location });\nconst requestBody = {\n  model: 'gpt-4o-search-preview',\n  web_search_options: {},\n  max_tokens: 1200,\n  messages: [ { role:'system', content:sys }, { role:'user', content:'Company to research:\\n'+candidate } ]\n};\nreturn [{ json: { id:b.id, company:b.company, domain:b.domain, requestBody } }];"
      },
      "id": "cw-r-002",
      "name": "Build OpenAI request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "cw-r-003",
      "name": "OpenAI research + draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "OpenAI API \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the model JSON and build a Firestore PATCH for outreach/{id}.\n// PATCH only the research + draft fields (updateMask), so the rest of the doc is untouched.\nconst ctx = $('Build OpenAI request').item.json;\nlet parsed = {};\ntry { const t=($json.choices&&$json.choices[0]&&$json.choices[0].message&&$json.choices[0].message.content)||'{}';\n  parsed = JSON.parse(t.trim().replace(/^```json/i,'').replace(/```$/,'').trim()); } catch(e){ parsed = {}; }\nconst dedash = s => String(s==null?'':s).replace(/\\s*[\\u2014\\u2013]\\s*/g, ', ').replace(/\\s--\\s/g, ', ');\nif (parsed) { parsed.email_subject = dedash(parsed.email_subject); parsed.email_body = dedash(parsed.email_body); }\nconst now = new Date().toISOString();\nconst S = v => ({ stringValue:(v==null?'':String(v)) });\nconst fields = {\n  company:S(ctx.company), domain:S(ctx.domain),\n  research_brief:S(Array.isArray(parsed.research_brief) ? parsed.research_brief.join('\\n') : (parsed.research_brief||'')),\n  email_subject:S(parsed.email_subject||''),\n  email_body:S(parsed.email_body||''),\n  researched_at:{ timestampValue: now }\n};\nconst mask = ['company','domain','research_brief','email_subject','email_body','researched_at']\n  .map(f=>'updateMask.fieldPaths='+f).join('&');\nreturn [{ json: { id:ctx.id, mask, fsBody:{ fields } } }];"
      },
      "id": "cw-r-004",
      "name": "Build Firestore patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/outreach/{{ $json.id }}?{{ $json.mask }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fsBody) }}",
        "options": {}
      },
      "id": "cw-r-005",
      "name": "Write research to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Firebase_SDK_do_or_wait"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok:true, id:$('Build Firestore patch').item.json.id }) }}",
        "options": {}
      },
      "id": "cw-r-006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build OpenAI request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI request": {
      "main": [
        [
          {
            "node": "OpenAI research + draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI research + draft": {
      "main": [
        [
          {
            "node": "Build Firestore patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Firestore patch": {
      "main": [
        [
          {
            "node": "Write research to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write research to Firestore": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-013"
}