n8n/17_lead_followup_generator.json
{
  "name": "CW - 17. Generate Lead Follow-up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1520,
        304
      ],
      "webhookId": "generate-followup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.body.conversationId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-000000000002",
      "name": "Has thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1744,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$filter",
              "value": "=conversationId eq '{{ $json.body.conversationId }}'"
            },
            {
              "name": "$orderby",
              "value": "receivedDateTime desc"
            },
            {
              "name": "$top",
              "value": "5"
            },
            {
              "name": "$select",
              "value": "subject,from,receivedDateTime,sentDateTime,body,bodyPreview"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-000000000003",
      "name": "Get thread messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        200
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "A3ZyY4XtVcBv1yU3",
          "name": "Microsoft account 3"
        },
        "oAuth2Api": {
          "id": "yA4MMh3TXmKCSDGY",
          "name": "n8n-cubework"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Turn the Graph messages for this conversation into a compact, chronological\n// text block for Claude. Falls back to the app's notesText if Graph errored or\n// the conversationId turned up nothing (continueOnFail on the HTTP node above\n// means an error lands here as {error:...} instead of throwing).\nconst b = ($('Webhook').first().json.body) || {};\nconst resp = $input.first().json || {};\nconst msgs = Array.isArray(resp.value) ? resp.value : [];\n\nfunction stripHtml(h) {\n  if (!h) return '';\n  return String(h)\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/gi, \"'\")\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n}\n\nconst sorted = msgs\n  .filter(m => m && (m.receivedDateTime || m.sentDateTime))\n  .sort((a, c) => new Date(a.receivedDateTime || a.sentDateTime) - new Date(c.receivedDateTime || c.sentDateTime));\n\nconst lines = sorted.slice(-5).map(m => {\n  const from = (m.from && m.from.emailAddress && (m.from.emailAddress.name || m.from.emailAddress.address)) || 'Unknown';\n  const date = (m.receivedDateTime || m.sentDateTime || '').slice(0, 10);\n  const raw  = m.body ? (m.body.contentType === 'html' ? stripHtml(m.body.content) : String(m.body.content || '')) : (m.bodyPreview || '');\n  const trimmed = raw.length > 700 ? raw.slice(0, 700) + '...' : raw;\n  return '[' + date + '] ' + from + ': ' + trimmed;\n});\n\nconst context = lines.length ? lines.join('\\n\\n') : (b.notesText || '');\nreturn [{ json: { ...b, context, contextSource: lines.length ? 'thread' : 'notes' } }];"
      },
      "id": "f1a10001-0000-4000-8000-000000000004",
      "name": "Format thread context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// No linked/resolved thread on this lead — use the notes/updates text the app\n// already sent (built client-side from the lead's logged entries).\nconst b = $json.body || $json;\nreturn [{ json: { ...b, context: b.notesText || '', contextSource: 'notes' } }];"
      },
      "id": "f1a10001-0000-4000-8000-000000000005",
      "name": "Format notes context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the Claude request. Shared node fed by either the thread-context or\n// notes-context branch above (whichever one actually ran for this execution).\n// TONE IS THE MOST IMPORTANT PART of this feature (Justin's call, 2026-07-06):\n// this is a warm follow-up to someone he's ALREADY talking to, not cold\n// outreach, so the model must reference the real, specific context it's given\n// rather than writing a generic \"just checking in\" note.\nconst b = $input.first().json;\nconst first = b.first_name || (b.contact ? String(b.contact).split(' ')[0] : '') || 'there';\n\nconst HOOKS = {\n  importer:  'near the LA/Long Beach ports, with Cubeship able to handle freight and customs on site',\n  ecommerce: 'set up for fulfillment and last-mile, with 24/7 access',\n  '3pl':     'built to scale up or down as accounts change, with multiple sites under one agreement',\n  tenant:    'easy to add as overflow or a second site under the same agreement'\n};\nconst hook = HOOKS[b.segment] || '';\n\nconst sys = 'You are drafting a short follow-up email from Justin Cho at Cubework to a lead he is ALREADY in touch with. This is NOT cold outreach. Cubework offers flexible month-to-month warehouse, office, and dock space with simple license agreements (never a lease), all-inclusive pricing (one flat monthly rate, no NNN, no CAM, no surprise utility bills), and fast move-in (24-48 hours).\\n\\nYou will be given the lead\\'s basic details and RECENT CONTEXT: either the actual email thread (real messages, oldest to newest) or Justin\\'s own logged call, text, and note history. Read it closely. The entire point of this email is to reference something REAL and SPECIFIC from that context, never a generic check-in.\\n\\nWrite ONE follow-up email that: 1) Opens by referencing something specific from the context given, such as what they asked, what was discussed, or where things were left. Never invent a detail that is not in the context. 2) Adds ONE genuinely useful new thing: a direct answer to something they raised, a concrete next step, or, only if it fits naturally, a brief pricing or flexibility reminder. Never a bare check-in with nothing new to say. 3) Ends with ONE short, low-friction question that moves things forward. 4) Signs off on its own line, exactly: Best,\\nJustin Cho\\nBusiness Development, Cubework\\n\\nIf the given context is too thin to reference anything specific and honest, do not invent details. Instead write one short, low-key, honest line acknowledging it has been quiet, then ask one simple question, rather than forcing a fake personalization.\\n\\nVOICE (this is the most important part): plain, warm, direct, like a real person continuing an actual conversation, never like a template or a marketing email. Short sentences, most under 12 words, one idea each. Write at a 5th-grade reading level. Use the simplest word that works (use not utilize, help not facilitate, near not in close proximity to). Cut any word that does not change the meaning. No jargon. Never use any of these: just checking in, circling back, wanted to touch base, I hope this finds you well, following up on my previous email, per my last email, as previously mentioned, leverage, synergy, solutions, elevate, streamline, ideal for, I would be happy to discuss. Do not use any dash character to join clauses, no em dash, no en dash, no double hyphen, use a period or comma instead. No bulleted or numbered lists. No hype, no exclamation points. NEVER use the word lease in any form, say no long-term commitment instead. Keep the email body under 100 words, not counting the sign-off.\\n\\nSUBJECT: 3 to 6 words, lowercase or sentence case, references the specific context when possible. Never generic like Following up or Checking in.\\n\\nReturn ONLY minified JSON, no prose, no code fences: {\"subject\":\"...\",\"body\":\"...\"}';\n\nconst userMsg = 'LEAD DETAILS\\n' +\n  'Company: ' + (b.company || '(unknown)') + '\\n' +\n  'Contact first name: ' + first + '\\n' +\n  'Stage: ' + (b.stage || 'cold') + '\\n' +\n  'Unit/size on file: ' + (b.unit ? (b.unit + (b.unit_sf ? ' (' + b.unit_sf + ' sf)' : '')) : '(none)') + '\\n' +\n  'Segment value angle, use only if it fits naturally, do not force it: ' + (hook || '(none)') + '\\n\\n' +\n  'RECENT CONTEXT (' + (b.contextSource === 'thread' ? 'actual email thread, oldest to newest' : \"Justin's own logged updates\") + '):\\n' +\n  (b.context || '(nothing specific on file)');\n\nconst requestBody = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 700,\n  system: sys,\n  messages: [ { role: 'user', content: userMsg } ]\n};\nreturn [{ json: { leadId: b.leadId, contextSource: b.contextSource, requestBody } }];"
      },
      "id": "f1a10001-0000-4000-8000-000000000006",
      "name": "Build Claude request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-000000000007",
      "name": "Generate follow-up (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Claude request').item.json;\nlet parsed = {};\ntry {\n  const blocks = $json.content || [];\n  const raw = Array.isArray(blocks) ? blocks.filter(x => x && x.type === 'text').map(x => x.text).join('\\n') : '';\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(m ? m[0] : raw);\n} catch (e) { parsed = {}; }\nconst dedash = s => String(s == null ? '' : s).replace(/\\s*[\\u2014\\u2013]\\s*/g, ', ').replace(/\\s--\\s/g, ', ');\nconst now = new Date().toISOString();\nconst S = v => ({ stringValue: (v == null ? '' : String(v)) });\nconst subject = dedash(parsed.subject || '');\nconst body = dedash(parsed.body || '');\nconst fields = {\n  followup_draft: { mapValue: { fields: {\n    subject: S(subject),\n    body: S(body),\n    generated_at: S(now),\n    source: S(ctx.contextSource || 'notes')\n  } } }\n};\nreturn [{ json: { leadId: ctx.leadId, fsBody: { fields } } }];"
      },
      "id": "f1a10001-0000-4000-8000-000000000008",
      "name": "Build Firestore patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/leads/{{ $json.leadId }}?updateMask.fieldPaths=followup_draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.fsBody) }}",
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-000000000009",
      "name": "Write to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        304
      ],
      "credentials": {
        "googleApi": {
          "id": "7IVvQuErxEJPoaMY",
          "name": "Firebase_SDK_do_or_wait"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, leadId: $('Build Firestore patch').item.json.leadId }) }}",
        "options": {}
      },
      "id": "f1a10001-0000-4000-8000-00000000000a",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3312,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has thread?": {
      "main": [
        [
          {
            "node": "Get thread messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format notes context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get thread messages": {
      "main": [
        [
          {
            "node": "Format thread context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format thread context": {
      "main": [
        [
          {
            "node": "Build Claude request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format notes context": {
      "main": [
        [
          {
            "node": "Build Claude request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude request": {
      "main": [
        [
          {
            "node": "Generate follow-up (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate follow-up (Claude)": {
      "main": [
        [
          {
            "node": "Build Firestore patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Firestore patch": {
      "main": [
        [
          {
            "node": "Write to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Firestore": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-4000-8000-000000000017",
  "meta": {
    "instanceId": "576f1552f658e6ccbe293a5c310c12c03fc3f516211957ae27ecb76646f5be19"
  },
  "id": "cwLeadFollowupGen17",
  "tags": []
}
