n8n/20_firestore_writer.json
{
  "name": "CW — 20. Firestore Writer (generic)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "firestore-write",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b1a1a001-0000-4a1a-9a1a-000000000001",
      "name": "Firestore write webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "firestore-write"
    },
    {
      "parameters": {
        "jsCode": "// Generic Firestore writer. Body shapes:\n//   { collection, action: \"create\", id?, fields }\n//   { collection, action: \"bulk_create\", items: [ {...fields per doc, optional id} ] }\n//   { collection, action: \"update\", id, fields }          // partial merge\n//   { collection, action: \"bulk_update\", items: [ { id, fields } ] }\n// One Firestore REST `:batchWrite` call handles the whole request (cap 500\n// writes/request — Firestore's own limit, not this workflow's). Reuses the\n// same field-value encoder (`fv`) and the same Firebase_SDK_do_or_wait service\n// account pattern already proven working in workflow 19 (Roster Sync).\n\nconst PROJECT = 'do-or-wait';\nconst body = $json.body || {};\nconst { collection, action } = body;\nif (!collection) throw new Error('Missing body.collection');\nif (!action) throw new Error('Missing body.action');\n\nfunction genId(prefix) { return prefix + Date.now().toString() + Math.floor(Math.random() * 100000); }\n\nfunction fv(v) {\n  if (v === null || v === undefined) return { nullValue: null };\n  if (typeof v === 'number') return Number.isInteger(v) ? { integerValue: String(v) } : { doubleValue: v };\n  if (typeof v === 'boolean') return { booleanValue: v };\n  if (Array.isArray(v)) return { arrayValue: { values: v.map(fv) } };\n  if (typeof v === 'object') { const fields = {}; for (const k in v) fields[k] = fv(v[k]); return { mapValue: { fields } }; }\n  return { stringValue: String(v) };\n}\n\nfunction docName(coll, id) { return `projects/${PROJECT}/databases/(default)/documents/${coll}/${id}`; }\n\nfunction buildWrite(coll, id, fields, partial) {\n  const write = { update: { name: docName(coll, id), fields: Object.fromEntries(Object.entries(fields).map(([k, v]) => [k, fv(v)])) } };\n  if (partial) write.updateMask = { fieldPaths: Object.keys(fields) };\n  return write;\n}\n\nlet writes = [], ids = [];\nif (action === 'create') {\n  const id = body.id || genId(collection.slice(0, 2));\n  writes.push(buildWrite(collection, id, body.fields || {}, false));\n  ids.push(id);\n} else if (action === 'bulk_create') {\n  for (const item of (body.items || [])) {\n    const id = item.id || genId(collection.slice(0, 2));\n    const fields = { ...item }; delete fields.id;\n    writes.push(buildWrite(collection, id, fields, false));\n    ids.push(id);\n  }\n} else if (action === 'update') {\n  if (!body.id) throw new Error('update requires body.id');\n  writes.push(buildWrite(collection, body.id, body.fields || {}, true));\n  ids.push(body.id);\n} else if (action === 'bulk_update') {\n  for (const item of (body.items || [])) {\n    if (!item.id) throw new Error('bulk_update item missing id');\n    // Items are shaped { id, fields: {...} } (same convention as the single\n    // \"update\" action). Unwrap item.fields — do NOT spread the whole item,\n    // that leaves a literal top-level \"fields\" key on the doc instead of\n    // merging its contents (bug found + fixed 2026-07-09).\n    const fields = item.fields || {};\n    writes.push(buildWrite(collection, item.id, fields, true));\n    ids.push(item.id);\n  }\n} else {\n  throw new Error(`Unsupported action \"${action}\". Supported: create, bulk_create, update, bulk_update.`);\n}\nif (!writes.length) throw new Error('No writes produced (empty items?).');\nif (writes.length > 500) throw new Error(`${writes.length} writes exceeds Firestore batchWrite's 500-per-request cap — split the request into batches of 500 or fewer and call the webhook multiple times.`);\n\nreturn [{ json: {\n  requestUrl: `https://firestore.googleapis.com/v1/projects/${PROJECT}/databases/(default)/documents:batchWrite`,\n  requestBody: { writes },\n  collection, action, ids, count: ids.length,\n} }];"
      },
      "id": "b1a1a001-0000-4a1a-9a1a-000000000002",
      "name": "Build batchWrite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.requestUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "b1a1a001-0000-4a1a-9a1a-000000000003",
      "name": "Write batch to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 0],
      "credentials": {
        "googleApi": {
          "id": "7IVvQuErxEJPoaMY",
          "name": "Firebase_SDK_do_or_wait"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, collection: $('Build batchWrite').item.json.collection, action: $('Build batchWrite').item.json.action, count: $('Build batchWrite').item.json.count, ids: $('Build batchWrite').item.json.ids }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "b1a1a001-0000-4a1a-9a1a-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [672, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Firestore write webhook": {
      "main": [[{ "node": "Build batchWrite", "type": "main", "index": 0 }]]
    },
    "Build batchWrite": {
      "main": [[{ "node": "Write batch to Firestore", "type": "main", "index": 0 }]]
    },
    "Write batch to Firestore": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0d4c1f9e-2c31-4a1a-9c3a-000000000001",
  "meta": {
    "instanceId": "576f1552f658e6ccbe293a5c310c12c03fc3f516211957ae27ecb76646f5be19"
  },
  "id": "",
  "tags": []
}
