n8n/24_assistant_chat.json
{
  "name": "CW - 24. Assistant Chat (MCP connector)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f1a24001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1520,
        304
      ],
      "webhookId": "assistant-chat"
    },
    {
      "parameters": {
        "jsCode": "// Build the Claude request for the in-app \"Assistant\" tab. Body from the app:\n// { messages: [{role:'user'|'assistant', text}], ... } — the browser sends the\n// full visible conversation (already stripped of any tool-call detail on the\n// app's own side; here we also never echo mcp_tool_use/mcp_tool_result blocks\n// back into history, so the chat only ever carries plain text turns).\n//\n// Uses Anthropic's native MCP connector (mcp_servers + tools:[mcp_toolset]) so\n// Claude calls the do-or-wait Cloud Run MCP server directly, server-side — no\n// manual tool-call loop needed here. This is the whole point of building the\n// chat panel ourselves instead of using Claude Desktop/claude.ai conversation\n// mode: Justin controls what's rendered, and the API only ever returns text +\n// (separate, ignorable) mcp_tool_use/mcp_tool_result blocks — nothing forces\n// a step-by-step tool-call narration into the UI.\nconst b = $json.body || {};\nconst msgs = Array.isArray(b.messages) ? b.messages : [];\nconst today = new Date().toISOString().slice(0, 10);\n\nconst sys = 'You are an internal operations assistant for Justin Cho at Cubework, ' +\n  'embedded in his \"Do or Wait\" sales-ops app. Today is ' + today + '.\\n\\n' +\n  'You have live tools, via the do-or-wait MCP connector, covering Tasks, Leads, ' +\n  'Notes, Outreach, Property Outreach, Availability, Pricing, Rate Bands, ' +\n  'Renewals, and Roster. Use a tool whenever the question needs live or specific ' +\n  'data (a lead\\'s status, what is open at a location, logging a call, checking ' +\n  'follow-ups, etc). Answer directly, with no tool call, for general or ' +\n  'how-does-this-work questions.\\n\\n' +\n  'Never state a specific fact, a name, a number, a status, an availability, ' +\n  'unless a tool result actually confirms it or the user just told you directly ' +\n  'in this conversation. Do not guess or invent details. When you take a write ' +\n  'action, such as logging an update, changing a stage, or creating something, ' +\n  'briefly confirm in plain language what you did.\\n\\n' +\n  'Keep replies short and direct. Plain language. No bullet-point lists unless ' +\n  'the user is actually asking for a list of several things. No dash characters, ' +\n  'em dash or en dash, joining clauses, use a period or comma instead.';\n\nconst anthMsgs = msgs\n  .filter(m => m && m.text)\n  .map(m => ({\n    role: m.role === 'assistant' ? 'assistant' : 'user',\n    content: [{ type: 'text', text: String(m.text) }]\n  }));\n\nif (!anthMsgs.length) throw new Error('No messages provided');\n\n// SETUP (do this after import, directly in the n8n UI, NOT in this committed\n// file): replace the line below with a literal string, e.g.\n//   const mcpUrl = 'https://your-service.run.app/mcp/your-token';\n// This n8n instance's own \"Environment variables\" panel is a paid feature we\n// don't have, so $env.DOW_MCP_URL will not resolve here. Hardcoding the URL\n// directly in this node keeps it out of the committed/exported JSON (it only\n// lives in your private n8n database) and sidesteps the paywall entirely.\n// See n8n/24_assistant_chat.README.md for the full explanation.\nconst mcpUrl = ($env.DOW_MCP_URL || '').trim();\nif (!mcpUrl) throw new Error('Set mcpUrl directly in this node, see the comment above — DOW_MCP_URL is not available as an env var on this instance.');\n\n// PROMPT CACHING (2026-07-10): the system prompt + tool definitions (from the\n// MCP connector) are identical on every single turn, and were being fully\n// reprocessed and re-billed at full price every message. This one top-level\n// field turns on Anthropic's \"automatic caching\" — it finds the repeated\n// prefix (tools, then system, then messages, in that order) and reuses it,\n// moving the cache point forward itself as the conversation grows. Cache\n// reads are ~10% of normal input price and process faster than a full\n// re-read, so this cuts both cost and latency on every turn after the first\n// in a session (default 5-minute cache lifetime, refreshed free on each hit).\nconst requestBody = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 2000,\n  cache_control: { type: 'ephemeral' },\n  system: sys,\n  messages: anthMsgs,\n  mcp_servers: [\n    { type: 'url', url: mcpUrl, name: 'do-or-wait' }\n  ],\n  tools: [\n    { type: 'mcp_toolset', mcp_server_name: 'do-or-wait' }\n  ]\n};\n\nreturn [{ json: { requestBody } }];"
      },
      "id": "f1a24001-0000-4000-8000-000000000002",
      "name": "Build Claude request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "mcp-client-2025-11-20"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "f1a24001-0000-4000-8000-000000000003",
      "name": "Call Claude (MCP connector)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        304
      ],
      "continueOnFail": true,
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract ONLY the plain text for the app to show — this is the whole point:\n// mcp_tool_use / mcp_tool_result blocks are deliberately dropped here so the\n// browser never even receives a play-by-play of tool calls, let alone renders\n// one. toolsUsed is returned separately as an optional, opt-in debug signal\n// (the app can choose to show a small \"used: get_lead, update_lead\" chip, or\n// ignore it entirely and show nothing beyond the reply).\nconst res = $json;\n\nif (res.error || res.type === 'error') {\n  const msg = (res.error && res.error.message) || res.message || 'Unknown Claude API error';\n  return [{ json: { ok: false, error: msg } }];\n}\n\nconst blocks = Array.isArray(res.content) ? res.content : [];\nconst reply = blocks.filter(x => x && x.type === 'text').map(x => x.text).join('\\n\\n').trim();\nconst toolsUsed = Array.from(new Set(\n  blocks.filter(x => x && x.type === 'mcp_tool_use').map(x => x.name)\n));\nconst usage = res.usage || {};\n\nif (!reply) {\n  return [{ json: { ok: false, error: 'Claude returned no text content (stop_reason: ' + (res.stop_reason || 'unknown') + ')' } }];\n}\n\nreturn [{ json: { ok: true, reply, toolsUsed, stopReason: res.stop_reason || null, cacheRead: usage.cache_read_input_tokens || 0, cacheWrite: usage.cache_creation_input_tokens || 0 } }];"
      },
      "id": "f1a24001-0000-4000-8000-000000000004",
      "name": "Build response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "f1a24001-0000-4000-8000-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2416,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Claude request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude request": {
      "main": [
        [
          {
            "node": "Call Claude (MCP connector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (MCP connector)": {
      "main": [
        [
          {
            "node": "Build response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-0000-4000-8000-000000000024",
  "meta": {
    "instanceId": "576f1552f658e6ccbe293a5c310c12c03fc3f516211957ae27ecb76646f5be19"
  },
  "id": "cwAssistantChat24",
  "tags": []
}
