n8n/25_site_outreach_discovery.json
{
  "name": "CW — 25. Site Outreach Discovery (CoreClaw)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-outreach-discover",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "7558a04b-2b49-43f0-87c3-393da9060bb3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1344,
        80
      ],
      "webhookId": "site-outreach-discover"
    },
    {
      "parameters": {
        "jsCode": "// Body: { propId, address, categories? }. propId/address are required — this\n// workflow is per-site, never a bulk-all-locations sweep. categories is an\n// optional override array; default to the 9-item v1 list when omitted.\n// Also derives a CoreClaw \"base_location\" (\"City, ST, USA\") from the raw\n// address string via a regex on the City, ST ZIP tail — the app sends the\n// full address, this node does the extraction, not the app.\nconst b = $json.body || {};\nconst propId = b.propId || '';\nconst address = b.address || '';\nif (!propId) throw new Error('Missing body.propId');\nif (!address) throw new Error('Missing body.address');\n\n// 'importer' (bare word) was changed to 'import export company' 2026-07-23 —\n// on Google Maps, \"importer\" reads heavily as SoCal car-import/JDM-parts\n// culture (used car dealers, auto parts stores), not trade/logistics\n// importers. A real Ontario test batch on 'importer' came back ~30% noise\n// (used car dealers, an auto parts store, a flag store, a government export\n// office) — see CATEGORY_DENYLIST below for the second half of this fix.\nconst DEFAULT_CATEGORIES = [\n  'import export company', 'distribution company', 'wholesale distributor', '3PL logistics company',\n  'freight forwarder', 'ecommerce fulfillment center', 'trucking company', 'manufacturer',\n  'moving and storage company'\n];\nconst categories = (Array.isArray(b.categories) && b.categories.length) ? b.categories : DEFAULT_CATEGORIES;\n\n// \"3950 E Airport Dr, Ontario, CA 91761\" -> \"Ontario, CA, USA\"\nconst m = address.match(/,\\s*([^,]+),\\s*([A-Z]{2})\\s*\\d{5}/);\nconst base_location = m ? `${m[1].trim()}, ${m[2].trim()}, USA` : address; // fallback: pass the raw address through rather than fail the whole run\n\nreturn [{ json: { propId, address, base_location, categories } }];"
      },
      "id": "9f3e6561-833a-49f6-a2af-126eab1effff",
      "name": "Parse request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        80
      ]
    },
    {
      "parameters": {
        "url": "=https://openapi.coreclaw.com/api/scraper?slug=01KPD6M5YQADCQKGVKPDZVYC63",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "210992ef-62b3-49a9-aeab-a7d0c57fb9f9",
      "name": "Get scraper schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e5u9uL0SNqiz3Bud",
          "name": "Real_CoreClawAPI"
        },
        "httpMultipleHeadersAuth": {
          "id": "olW8lz7T29pWXiUI",
          "name": "CoreClaw_API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Confirmed real names tried first; substring match is only a hedge against\n// a future Worker version renaming a param (verified 2026-07-21 against a\n// real /api/scraper response — see CLAUDE.md's 2026-07-21 (cont.) session).\nconst schema = $json.data || {};\nconst version = schema.version;\nconst props = (schema.parameters && schema.parameters.custom && schema.parameters.custom.properties) || [];\n\nfunction findProp(exactName, substrings) {\n  if (props.some(p => p.name === exactName)) return exactName;\n  const hit = props.find(p => substrings.some(s => String(p.name||'').toLowerCase().includes(s) || String(p.title||'').toLowerCase().includes(s)));\n  return hit ? hit.name : null;\n}\nconst keywordProp    = findProp('keywords', ['keyword', 'query', 'search_term', 'search term', 'term']);\nconst locationProp   = findProp('base_location', ['base_location', 'location', 'city', 'area']);\nconst maxResultsProp = findProp('max_results', ['max_results', 'number of places', 'results']);\nconst leadsCountProp = findProp('max_leads_per_place', ['leads_per_place', 'max_leads', 'leads count', 'business leads']);\nconst seniorityProp  = findProp('leads_seniority', ['seniority']);\n\nconst warnings = [];\nif (!keywordProp)    warnings.push('Could not match the keywords parameter — check data.parameters.custom.properties and hardcode the real name.');\nif (!locationProp)   warnings.push('Could not match the base_location parameter — same fix as above.');\nif (!maxResultsProp) warnings.push('Could not match the max_results parameter (REQUIRED by the Worker) — a run will 4000 without it.');\nif (!leadsCountProp) warnings.push('Could not match the max_leads_per_place parameter — business leads enrichment (named contact/email/phone/LinkedIn) may silently not be requested.');\nif (warnings.length) console.warn('[Site Outreach Discovery] Parameter match warnings:', warnings.join(' | '));\n\nconst req = $('Parse request').first().json;\n// Build the default \"system\" params object as-is from the schema's own defaults\n// (untouched — this workflow only overrides the 4 fields it actually needs).\nconst systemDefaults = {};\n((schema.parameters && schema.parameters.system && schema.parameters.system.properties) || []).forEach(p => {\n  if (p.default !== undefined) systemDefaults[p.name] = p.default;\n});\n\nreturn [{ json: {\n  ...req,\n  scraper_version: version,\n  keywordProp, locationProp, maxResultsProp, leadsCountProp, seniorityProp, systemDefaults,\n  warnings,\n  categoryIndex: 0\n} }];"
      },
      "id": "8533f763-7e95-4351-b582-b09069033587",
      "name": "Match schema fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reset the cross-category accumulator on static data so a fresh webhook call\n// never inherits leftovers from a prior errored run (same pattern as workflow\n// 18's tab-loop accumulator). One item per category, fed into the batch loop.\nconst ws = $getWorkflowStaticData('global');\nws.rows = [];\nconst ctx = $json;\nreturn (ctx.categories || []).map(cat => ({ json: { ...ctx, category: cat } }));"
      },
      "id": "80891160-f901-4646-834a-2ba4b70894aa",
      "name": "Reset accumulator + fan out categories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e1c2cb3e-de2e-49f3-82d6-f35d7b7b5799",
      "name": "Batch categories (loop)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build input.parameters.custom from the LIVE schema field names matched\n// earlier. keywords is an array of {keyword} objects (confirmed 2026-07-21),\n// NOT a plain string. max_results is REQUIRED by the Worker — 20 per category\n// keeps a full 9-category property run under ~25 cents at CoreClaw's\n// $1.20/1,000-successful-results pricing. max_leads_per_place defaults to 2\n// (the real \"business leads enrichment\" control — no separate boolean).\n// leads_seniority biases toward decision-makers (owner/c_suite/vp/director/\n// manager) since a random staff contact is less useful for cold outreach than\n// someone who can actually say yes — tune or drop this list if it narrows\n// results too much for a given category.\nconst j = $json;\nconst custom = {};\ncustom[j.keywordProp || 'keywords'] = [{ keyword: j.category }];\ncustom[j.locationProp || 'base_location'] = j.base_location;\ncustom[j.maxResultsProp || 'max_results'] = 20;\ncustom[j.leadsCountProp || 'max_leads_per_place'] = 2;\nif (j.seniorityProp) custom[j.seniorityProp] = ['owner', 'c_suite', 'vp', 'director', 'manager'];\n\nconst input = { parameters: { system: j.systemDefaults || {}, custom } };\nreturn [{ json: { ...j, coreclawInput: input } }];"
      },
      "id": "98ed781f-0253-4915-9af8-6e23cad1b287",
      "name": "Build custom params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.coreclaw.com/api/v1/scraper/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scraper_slug: '01KPD6M5YQADCQKGVKPDZVYC63', version: $json.scraper_version, is_async: true, input: $json.coreclawInput }) }}",
        "options": {}
      },
      "id": "ef556cf1-b1f2-4bd7-8b02-e36e9424d69c",
      "name": "Run scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e5u9uL0SNqiz3Bud",
          "name": "Real_CoreClawAPI"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Non-zero `code` in the JSON body means failure even on HTTP 200 (per\n// CoreClaw docs) — check explicitly, don't just trust the HTTP status.\nconst prev = $('Build custom params').first().json;\nconst res = $json;\nif (res.error || (res.code && res.code !== 0)) {\n  console.warn('[Site Outreach Discovery] Run failed for category', prev.category, JSON.stringify(res).slice(0,300));\n  return [{ json: { ...prev, runFailed: true, run_slug: null } }];\n}\nconst run_slug = (res.data && res.data.run_slug) || null;\nreturn [{ json: { ...prev, runFailed: !run_slug, run_slug, pollAttempts: 0 } }];"
      },
      "id": "a7607568-b0f0-4b88-ad06-1af1977a9ad5",
      "name": "Extract run_slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.runFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa18f30f-ebea-44ab-b4d2-a4193188cddd",
      "name": "Run started ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "da419f3c-fb69-45de-a861-68d671c0db20",
      "name": "Wait before poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        160
      ],
      "webhookId": "cc250001-wait-poll"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.coreclaw.com/api/v1/run/detail",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_slug: $json.run_slug }) }}",
        "options": {}
      },
      "id": "99ee6b77-1da5-4268-b720-b1ecb5050cdc",
      "name": "Get run detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e5u9uL0SNqiz3Bud",
          "name": "Real_CoreClawAPI"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// status: 1 Ready, 2 Running, 3 Succeeded, 4 Failed, 5 Aborting. Capped poll\n// loop — 20 attempts x 15s = 5min max per category (same capped-deadline\n// convention as the Avail Export feature), then treat as a soft failure for\n// THIS category only and move to the next one, not a hard workflow failure.\nconst prev = $('Extract run_slug').first().json;\nconst res = $json;\nconst status = res && res.data ? res.data.status : null;\nconst attempts = (prev.pollAttempts || 0) + 1;\nconst CAP = 20;\nconst done = status === 3 || status === 4 || attempts >= CAP;\nreturn [{ json: { ...prev, pollAttempts: attempts, runStatus: status, pollDone: done, runFailed: (status === 4) || (attempts >= CAP && status !== 3) } }];"
      },
      "id": "5425ab18-d9ed-483b-8f11-d53dab85ddf5",
      "name": "Check poll status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.pollDone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87100a9f-079d-48a0-96d4-18d8a1872245",
      "name": "Poll done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Paginated results. Page size 100; loop pages if the response signals more\n// (real pagination fields confirmed 2026-07-21 — see \"Tag + accumulate\n// results\" below, which reads data.count/data.page_size). page_index tracked\n// on the item so repeated calls advance.\nconst prev = $json;\nif (prev.runFailed) return [{ json: { ...prev, resultsDone: true, pageIndex: 0 } }];\nreturn [{ json: { ...prev, pageIndex: prev.pageIndex || 0 } }];"
      },
      "id": "ffb89e93-dab9-4468-a788-384c87b3362b",
      "name": "Prep result paging",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.coreclaw.com/api/v1/run/result/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ run_slug: $json.run_slug, page_index: $json.pageIndex || 0, page_size: 100 }) }}",
        "options": {}
      },
      "id": "23dfab0c-1600-4662-b82f-f95b7e9fd3f5",
      "name": "Get results page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e5u9uL0SNqiz3Bud",
          "name": "Real_CoreClawAPI"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Tags each result row with the search_category that surfaced it, extracts\n// the fields we care about, and appends to the shared static-data\n// accumulator. Response shape + field names confirmed 2026-07-21 against two\n// real CoreClaw runs — rows live at data.list (NOT data or data.items as\n// originally guessed), and the real total-count field is data.count.\nconst prev = $('Prep result paging').first().json;\nconst res = $json;\nconst rowsIn = (res && res.data && Array.isArray(res.data.list)) ? res.data.list : [];\nconst totalCount = (res && res.data && typeof res.data.count === 'number') ? res.data.count : null;\nconst pageSize = (res && res.data && typeof res.data.page_size === 'number') ? res.data.page_size : 100;\nconst ws = $getWorkflowStaticData('global');\nws.rows = ws.rows || [];\n\n// leads_enrichment is an array of contact objects (full_name/job_title/email/\n// linkedin_profile/mobile_number, plus company_* fields) — confirmed\n// 2026-07-21 against a real populated result. email is frequently null even\n// when a real contact was found (LinkedIn-sourced, not always email-verified)\n// — prefer a contact that has an email, else fall back to the first\n// available contact so a phone-only lead isn't dropped.\nfunction pickContact(leads) {\n  if (!Array.isArray(leads) || !leads.length) return null;\n  return leads.find(l => l && l.email) || leads[0];\n}\n\n// Category denylist (added 2026-07-23) — Google Maps' own category\n// classification for a \"importer\"/\"import export company\" style keyword\n// search still lets some clearly irrelevant business types through (real\n// examples from a live Ontario test): car dealers and auto parts stores\n// (SoCal's JDM/import-tuner car culture collides with the word \"import\"),\n// flag stores, and government offices. Substring match against\n// primary_category, case-insensitive. Never touches all_categories or\n// anything else — a row is dropped from the accumulator entirely if its\n// primary_category matches, so it's never written to Firestore at all.\nconst CATEGORY_DENYLIST = [\n  'car dealer', 'auto parts store', 'auto repair', 'car wash', 'car rental',\n  'government office', 'flag store'\n];\nfunction isDenylisted(category) {\n  const c = String(category || '').toLowerCase();\n  return CATEGORY_DENYLIST.some(bad => c.includes(bad));\n}\n\nfor (const row of rowsIn) {\n  if (isDenylisted(row.primary_category)) continue; // e.g. \"Used car dealer\", \"Auto parts store\" — not a real warehouse-space prospect\n  const contact = pickContact(row.leads_enrichment);\n  ws.rows.push({\n    place_cid: row.place_id || row.data_id || null,\n    name: row.title || '',\n    address: row.address || '',\n    city: row.city || '',\n    state: row.state || '',\n    website: row.website || '',\n    phone: row.phone || '',\n    search_category: prev.category,\n    google_category: row.primary_category || '',\n    all_categories: Array.isArray(row.all_categories) ? row.all_categories : (row.all_categories ? [row.all_categories] : null),\n    latitude: (row.location && row.location.lat != null) ? row.location.lat : null,\n    longitude: (row.location && row.location.lng != null) ? row.location.lng : null,\n    rating: row.review_rating != null ? row.review_rating : null,\n    review_count: row.review_count != null ? row.review_count : null,\n    contact_name: contact ? (contact.full_name || null) : null,\n    contact_title: contact ? (contact.job_title || contact.headline || null) : null,\n    contact_email: contact ? (contact.email || null) : null,\n    contact_linkedin: contact ? (contact.linkedin_profile || null) : null,\n    contact_phone: contact ? (contact.mobile_number || null) : null\n  });\n}\n\n// hasMore now uses the real data.count field (confirmed 2026-07-21) instead\n// of the originally guessed has_more/total keys, which don't exist.\nconst hasMore = totalCount != null && (prev.pageIndex + 1) * pageSize < totalCount;\nreturn [{ json: { ...prev, resultsDone: !hasMore, pageIndex: (prev.pageIndex||0) + 1, resultCount: rowsIn.length } }];"
      },
      "id": "507acbc3-bc1e-418c-9b91-5ebbf1c1381e",
      "name": "Tag + accumulate results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.resultsDone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70f9dbc9-76a4-4f60-9a56-a79c9e45825b",
      "name": "More pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Dedupe the FULL cross-category accumulator by cid (falling back to\n// data_id — same key chosen as the Firestore doc id) — first occurrence\n// wins for search_category, matching the design spec (\"first-wins is fine\").\n// Runs once, after the category loop's \"done\" output fires.\nconst ws = $getWorkflowStaticData('global');\nconst rows = ws.rows || [];\nconst byId = new Map();\nfor (const r of rows) {\n  const id = r.place_cid;\n  if (!id) continue; // no stable id to dedupe/write on — skip (can't safely key a Firestore doc)\n  if (!byId.has(id)) byId.set(id, r);\n}\nconst deduped = [...byId.values()];\nws.rows = []; // clear for the next run\nreturn [{ json: { propId: $('Parse request').first().json.propId, categories: $('Parse request').first().json.categories, rows: deduped } }];"
      },
      "id": "1961e692-2f41-40c0-aaad-49b46456cf8a",
      "name": "Dedupe accumulated rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the workflow-20 (generic Firestore writer) bulk_update payload.\n// bulk_update does a Firestore `update` write WITH an updateMask containing\n// ONLY the keys in `fields` — confirmed by reading n8n/20_firestore_writer.json\n// (\"Build batchWrite\" node): buildWrite(..., partial=true) sets\n// `updateMask.fieldPaths = Object.keys(fields)`. Firestore's update+updateMask\n// write type creates the doc if absent (with just those fields) and, for an\n// existing doc, touches ONLY the listed field paths — every other existing\n// field (status/notes/attempts/archived/cold_draft) is left completely alone.\n// So bulk_update is exactly the masked/idempotent write this feature needs —\n// NEVER bulk_create, which would stomp the whole doc on a re-run.\n// discovered_at is intentionally left OUT of every re-run's fields (only ever\n// set once, see below) so it truly reflects first-seen, not last-seen.\nconst j = $json;\nconst nowIso = new Date().toISOString();\nconst items = (j.rows || []).map(r => ({\n  id: r.place_cid,\n  fields: {\n    location: j.propId,\n    place_cid: r.place_cid,\n    name: r.name,\n    address: r.address,\n    city: r.city,\n    state: r.state,\n    website: r.website,\n    phone: r.phone,\n    search_category: r.search_category,\n    google_category: r.google_category,\n    all_categories: r.all_categories,\n    latitude: r.latitude,\n    longitude: r.longitude,\n    rating: r.rating,\n    review_count: r.review_count,\n    contact_name: r.contact_name,\n    contact_title: r.contact_title,\n    contact_email: r.contact_email,\n    contact_linkedin: r.contact_linkedin,\n    contact_phone: r.contact_phone,\n    last_seen_at: nowIso\n  }\n}));\nreturn [{ json: { propId: j.propId, categoriesRun: (j.categories||[]).length, discovered: items.length, writerBody: { collection: 'site_outreach', action: 'bulk_update', items } } }];"
      },
      "id": "cca23799-0220-4aa1-9a92-bfd6f03d7d5d",
      "name": "Build write payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ailinker.item.com/webhook/firestore-write",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.writerBody) }}",
        "options": {}
      },
      "id": "a89b2621-b87d-4f18-a263-d3c60ac7ed64",
      "name": "Write via workflow 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        320
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "yA4MMh3TXmKCSDGY",
          "name": "n8n-cubework"
        },
        "googleApi": {
          "id": "7IVvQuErxEJPoaMY",
          "name": "Firebase_SDK_do_or_wait"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// discovered_at (first-seen only, never overwritten by a re-run) is set here,\n// AFTER the masked bulk_update above already landed — a second, separate\n// pass with a Firestore query-and-conditionally-set would be needed to set\n// it ONLY on brand-new docs without clobbering an existing one, but that's\n// unnecessary complexity for v1: instead, the app itself defaults a MISSING\n// discovered_at to last_seen_at at read time (same \"default missing fields\"\n// convention already used for status/archived/attempts — see index.html),\n// so first-seen is still knowable without a second write pass here.\nconst build = $('Build write payload').first().json;\nconst wrote = $json;\nreturn [{ json: { ok: true, propId: build.propId, categoriesRun: build.categoriesRun, discovered: build.discovered, writerResponse: wrote } }];"
      },
      "id": "72033e43-f9e8-4938-8873-b37c176a1d16",
      "name": "Build response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, discovered: $json.discovered, categoriesRun: $json.categoriesRun, propId: $json.propId }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "b07aee14-7d41-4c34-9276-fc57e3270aff",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        896,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse request": {
      "main": [
        [
          {
            "node": "Get scraper schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get scraper schema": {
      "main": [
        [
          {
            "node": "Match schema fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match schema fields": {
      "main": [
        [
          {
            "node": "Reset accumulator + fan out categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset accumulator + fan out categories": {
      "main": [
        [
          {
            "node": "Batch categories (loop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch categories (loop)": {
      "main": [
        [
          {
            "node": "Dedupe accumulated rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build custom params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build custom params": {
      "main": [
        [
          {
            "node": "Run scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run scraper": {
      "main": [
        [
          {
            "node": "Extract run_slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract run_slug": {
      "main": [
        [
          {
            "node": "Run started ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run started ok?": {
      "main": [
        [
          {
            "node": "Batch categories (loop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before poll": {
      "main": [
        [
          {
            "node": "Get run detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get run detail": {
      "main": [
        [
          {
            "node": "Check poll status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check poll status": {
      "main": [
        [
          {
            "node": "Poll done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll done?": {
      "main": [
        [
          {
            "node": "Prep result paging",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep result paging": {
      "main": [
        [
          {
            "node": "Get results page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get results page": {
      "main": [
        [
          {
            "node": "Tag + accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag + accumulate results": {
      "main": [
        [
          {
            "node": "More pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More pages?": {
      "main": [
        [
          {
            "node": "Batch categories (loop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get results page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe accumulated rows": {
      "main": [
        [
          {
            "node": "Build write payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build write payload": {
      "main": [
        [
          {
            "node": "Write via workflow 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write via workflow 20": {
      "main": [
        [
          {
            "node": "Build response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a27fdf01-7cd2-4b14-a180-ea635c590925",
  "meta": {
    "instanceId": "576f1552f658e6ccbe293a5c310c12c03fc3f516211957ae27ecb76646f5be19"
  },
  "id": "67trV6fuAkB1o2Mc",
  "tags": []
}