n8n/4_availability_sync.json
{
  "name": "CW \u2014 4. Availability Sync (On Demand)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "availability-sync",
        "options": {}
      },
      "id": "av-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "availability-sync"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/config/properties",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "id": "av-002",
      "name": "Get property config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the property matching the propId from the webhook body\nconst propId   = $('Webhook').first().json.body?.propId || '';\nif (!propId) throw new Error('No propId in webhook body');\n\nfunction fsVal(field) {\n  if (!field) return null;\n  if (field.stringValue  !== undefined) return field.stringValue;\n  if (field.booleanValue !== undefined) return field.booleanValue;\n  if (field.integerValue !== undefined) return Number(field.integerValue);\n  if (field.mapValue) {\n    const out = {};\n    for (const [k,v] of Object.entries(field.mapValue.fields||{})) out[k] = fsVal(v);\n    return out;\n  }\n  return null;\n}\n\nconst doc  = $input.first().json;\nconst arr  = doc.fields?.properties?.arrayValue?.values || [];\n\nconst match = arr.map(item => {\n  const m = item.mapValue?.fields || {};\n  return {\n    id:             fsVal(m.id)             || '',\n    driveId:        fsVal(m.driveId)        || '',\n    itemId:         fsVal(m.itemId)         || '',\n    property:       fsVal(m.property)       || '',\n    address:        fsVal(m.address)        || '',\n    yardi_url:      fsVal(m.yardi_url)      || '',\n    sharepoint_url: fsVal(m.sharepoint_url) || ''\n  };\n}).find(p => p.id === propId);\n\nif (!match) throw new Error(`Property \"${propId}\" not found in config`);\n\nreturn [{ json: match }];"
      },
      "id": "av-003",
      "name": "Find property",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.driveId }}/items/{{ $json.itemId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "av-004",
      "name": "Get file metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 \u2014 Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prop = $('Find property').first().json;\nconst meta = $input.first().json;\nreturn [{ json: { ...prop, lastModified: meta.lastModifiedDateTime } }];"
      },
      "id": "av-005",
      "name": "Merge metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.driveId }}/items/{{ $json.itemId }}/workbook/worksheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "av-006",
      "name": "List worksheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 \u2014 Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prop   = $('Merge metadata').first().json;\nconst sheets = $input.first().json.value || [];\n\nconst PRIORITY = ['BOT - NEW ACTIVE LICENSEE', 'ALL UNITS', 'BOT'];\nlet targetSheet = null;\nfor (const name of PRIORITY) {\n  const found = sheets.find(s => s.name.trim().toUpperCase() === name.toUpperCase());\n  if (found) { targetSheet = found.name; break; }\n}\nif (!targetSheet) targetSheet = sheets[1]?.name || sheets[0]?.name || 'Sheet1';\n\nreturn [{ json: { ...prop, sheetName: targetSheet, sheetEncoded: encodeURIComponent(targetSheet) } }];"
      },
      "id": "av-007",
      "name": "Pick data sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.driveId }}/items/{{ $json.itemId }}/workbook/worksheets/{{ $json.sheetEncoded }}/usedRange(valuesOnly=true)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "av-008",
      "name": "Read sheet data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 \u2014 Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prop = $('Pick data sheet').first().json;\nconst rows = $input.first().json.values || [];\nconst now  = new Date().toISOString();\n\n// Reads the \"BOT - NEW ACTIVE LICENSEE\" tab (Layout A). Columns:\n// Unit # | Unit Type | Unit SF | Unit status | Company Name | Business Owner | Phone # | Email | Onsite POC | notes\nconst unitPattern = /^[A-Z]{1,5}\\d{1,4}(?:[A-Z]|-[A-Z0-9]{1,3})?$/i;\n\nfunction normType(typeText, unitId) {\n  const t = String(typeText || '').toUpperCase();\n  if (/OFFICE/.test(t)) return 'OFFICE';\n  if (/DOCK|DEDICAT|SHARED/.test(t)) return 'DOCK';\n  if (/TRAILER|TRUCK|VEHICLE|PARK/.test(t)) return 'TRAILER';\n  if (/WAREHOUSE|^WH$|^W$/.test(t)) return 'WH';\n  const u = unitId.toUpperCase();\n  if (u.startsWith('R')) return 'OFFICE';\n  if (u.startsWith('DOCK') || u.startsWith('DD')) return 'DOCK';\n  if (u.startsWith('P') || u.startsWith('Y')) return 'TRAILER';\n  return 'WH';\n}\n\nconst clean = v => { const s = String(v==null?'':v).trim(); return (s && !/^hold$/i.test(s)) ? s : null; };\n\nconst units = [];\nlet inTable = false;\nfor (const row of rows) {\n  const cells = row.map(c => String(c===null||c===undefined?'':c).trim());\n  const [c0,c1,c2,c3='',c4='',c5='',c6='',c7='',c8='',c9=''] = cells;\n  if (c0==='Unit #' && c1==='Unit Type') { inTable = true; continue; }\n  if (!inTable) continue;\n  const unitId = c0.replace(/\\s+/g,'').toUpperCase();\n  if (!unitPattern.test(unitId)) continue;\n  const sf = Number(String(c2).replace(/[^0-9]/g,''))||0;\n  const type = normType(c1, unitId);\n  const statusNorm = c3.toLowerCase();\n  const isHold = /hold/.test(statusNorm) || /hold/.test(c4.toLowerCase());\n  const available = statusNorm === 'vacant' || isHold;\n  const tenant = (statusNorm==='occupied' && c4) ? c4 : null;\n  units.push({\n    unit:unitId, type, sf, status:c3, tenant,\n    owner: clean(c5), phone: clean(c6), email: clean(c7), poc: clean(c8), notes: clean(c9),\n    available, hold:isHold\n  });\n}\n\nfunction summarise(type) {\n  const g=units.filter(u=>u.type===type), a=g.filter(u=>u.available);\n  const ts=g.reduce((s,u)=>s+u.sf,0), as=a.reduce((s,u)=>s+u.sf,0);\n  return { total_units:g.length, avail_units:a.length, total_sf:ts, avail_sf:as, avail_pct:ts>0?Math.round(as/ts*1000)/10:0 };\n}\n\nconst wh=summarise('WH'), off=summarise('OFFICE'), dock=summarise('DOCK'), trailer=summarise('TRAILER');\n\nconst toStr=v=>({stringValue:String(v)}), toInt=v=>({integerValue:String(Math.round(v))}),\n      toDbl=v=>({doubleValue:v}), toBool=v=>({booleanValue:v}), toNull=()=>({nullValue:null});\n\nconst summFs=s=>({mapValue:{fields:{total_units:toInt(s.total_units),avail_units:toInt(s.avail_units),total_sf:toInt(s.total_sf),avail_sf:toInt(s.avail_sf),avail_pct:toDbl(s.avail_pct)}}});\nconst unitFs=u=>({mapValue:{fields:{\n  unit:toStr(u.unit), type:toStr(u.type), sf:toInt(u.sf), status:toStr(u.status),\n  tenant:u.tenant?toStr(u.tenant):toNull(),\n  owner:u.owner?toStr(u.owner):toNull(),\n  phone:u.phone?toStr(u.phone):toNull(),\n  email:u.email?toStr(u.email):toNull(),\n  poc:u.poc?toStr(u.poc):toNull(),\n  notes:u.notes?toStr(u.notes):toNull(),\n  available:toBool(u.available), hold:toBool(u.hold)\n}}});\n\nconst patchBody = { fields: {\n  property:            toStr(prop.property||prop.id),\n  address:             toStr(prop.address||''),\n  yardi_url:           toStr(prop.yardi_url||''),\n  sharepoint_url:      toStr(prop.sharepoint_url||''),\n  sheet_last_modified: toStr(prop.lastModified||''),\n  synced_at:           toStr(now),\n  wh:      summFs(wh),  office: summFs(off),\n  dock:    summFs(dock), parking: summFs(trailer),\n  units: { arrayValue: { values: units.map(unitFs) } }\n}};\n\nreturn [{ json: { propId: prop.id, patchBody } }];"
      },
      "id": "av-009",
      "name": "Parse + build patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/availability/{{ $json.propId }}?updateMask.fieldPaths=property&updateMask.fieldPaths=address&updateMask.fieldPaths=yardi_url&updateMask.fieldPaths=sharepoint_url&updateMask.fieldPaths=sheet_last_modified&updateMask.fieldPaths=synced_at&updateMask.fieldPaths=wh&updateMask.fieldPaths=office&updateMask.fieldPaths=dock&updateMask.fieldPaths=parking&updateMask.fieldPaths=units",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patchBody) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi"
      },
      "id": "av-010",
      "name": "Write to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account \u2014 do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"propId\": \"{{ $('Parse + build patch').first().json.propId }}\" }",
        "options": {}
      },
      "id": "av-011",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get property config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get property config": {
      "main": [
        [
          {
            "node": "Find property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find property": {
      "main": [
        [
          {
            "node": "Get file metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file metadata": {
      "main": [
        [
          {
            "node": "Merge metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge metadata": {
      "main": [
        [
          {
            "node": "List worksheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List worksheets": {
      "main": [
        [
          {
            "node": "Pick data sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick data sheet": {
      "main": [
        [
          {
            "node": "Read sheet data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read sheet data": {
      "main": [
        [
          {
            "node": "Parse + build patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + build patch": {
      "main": [
        [
          {
            "node": "Write to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Firestore": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-004-v3"
}