n8n/8_floorplan_sync.json
{
  "name": "CW — 8. Floorplan Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1"
            }
          ]
        }
      },
      "id": "cw-fp-001",
      "name": "Weekly Mon 5am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        220
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "floorplan-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "cw-fp-002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/config/properties",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "cw-fp-003",
      "name": "Get property config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account — do-or-wait"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Parse config/properties → one item per location {propId,driveId,itemId,property}.\n// If triggered by the webhook with a propId, sync only that one; schedule = all.\nconst doc = $input.first().json;\nconst fields = (doc.fields) || (doc.document && doc.document.fields) || {};\nconst arr = (fields.properties && fields.properties.arrayValue && fields.properties.arrayValue.values) || [];\nlet only = '';\ntry { only = ($('Webhook').first().json.body && $('Webhook').first().json.body.propId) || ''; } catch (e) {}\nconst out = [];\nfor (const it of arr) {\n  const m = (it.mapValue && it.mapValue.fields) || {};\n  const g = k => (m[k] && m[k].stringValue) || '';\n  const propId = g('id'), driveId = g('driveId'), itemId = g('itemId');\n  if (!propId || !driveId || !itemId) continue;\n  if (only && propId !== only) continue;\n  out.push({ json: { propId, driveId, itemId, property: g('property') } });\n}\nif (!out.length) throw new Error('Floorplan sync: no properties matched (check config/properties or the propId filter).');\nreturn out;\n"
      },
      "id": "cw-fp-004",
      "name": "Select properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "cw-fp-005",
      "name": "Loop properties",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $json.driveId }}/items/{{ $json.itemId }}/workbook/worksheets?$select=name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "cw-fp-006",
      "name": "List worksheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        380
      ],
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 — Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Choose the warehouse + office Site Plan tab names for this property, and the\n// region/scale params, from the per-location profile (fallback = auto by name).\nconst item = $('Loop properties').item.json;\nconst resp = $input.first().json || {};\nconst ws = (resp.value || []).filter(w => w && w.name);\nconst names = ws.map(w => w.name);\n\nconst PROFILES = {\n  'banana-fontana':    { tabs: ['WH Site Plan'], minCol: 14 },\n  'terminal-west-sac': { tabs: ['Site Plan'], officeTabs: ['OFFICE SITEPLAN'] }\n};\nfunction pickProfile(propId) {\n  if (PROFILES[propId]) return PROFILES[propId];\n  const n = s => String(s).toLowerCase().replace(/[^a-z0-9]+/g, '');\n  const np = n(propId);\n  for (const k in PROFILES) { const nk = n(k); if (nk.length >= 6 && (np.includes(nk) || nk.includes(np))) return PROFILES[k]; }\n  return {};\n}\nconst prof = pickProfile(item.propId);\nfunction matchOne(cands) {\n  if (!cands) return '';\n  for (const c of cands) {\n    let hit = names.find(n => n.toLowerCase() === c.toLowerCase()); if (hit) return hit;\n    hit = names.find(n => n.toLowerCase().includes(c.toLowerCase())); if (hit) return hit;\n  }\n  return '';\n}\nlet whTab = matchOne(prof.tabs);\nlet ofTab = matchOne(prof.officeTabs);\nif (!whTab) whTab = names.find(n => /site\\s*plan|warehouse|\\bwh\\b|layout|floor/i.test(n) && !/office/i.test(n)) || '';\nif (!ofTab) ofTab = names.find(n => /office/i.test(n) && /(site|plan|layout|floor|office)/i.test(n)) || '';\nif (!whTab && ofTab) whTab = ofTab;\nif (!whTab) whTab = names[0] || '';\nif (!ofTab) ofTab = whTab;   // single-tab: office units come from the WH tab via type-split\nreturn [{ json: {\n  propId: item.propId, driveId: item.driveId, itemId: item.itemId,\n  whTab, ofTab,\n  minCol: prof.minCol != null ? prof.minCol : 0,\n  maxCol: prof.maxCol != null ? prof.maxCol : 1000000,\n  minRow: prof.minRow != null ? prof.minRow : 0,\n  maxRow: prof.maxRow != null ? prof.maxRow : 1000000,\n  colw: prof.colw || 0, rowh: prof.rowh || 0\n} }];\n"
      },
      "id": "cw-fp-008",
      "name": "Pick tabs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        380
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('Loop properties').item.json.driveId }}/items/{{ $('Loop properties').item.json.itemId }}/workbook/worksheets('{{ encodeURIComponent($json.whTab) }}')/usedRange(valuesOnly=true)?$select=values",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "cw-fp-009",
      "name": "Read WH plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 — Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/drives/{{ $('Loop properties').item.json.driveId }}/items/{{ $('Loop properties').item.json.itemId }}/workbook/worksheets('{{ encodeURIComponent($('Pick tabs').item.json.ofTab) }}')/usedRange(valuesOnly=true)?$select=values",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "id": "cw-fp-010",
      "name": "Read Office plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        460
      ],
      "continueOnFail": true,
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Microsoft OAuth2 — Cubework Outlook"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Shared parser → warehouse/office floors → Firestore typed PATCH for floorplans_auto/{propId}.\nconst meta = $('Pick tabs').item.json;\nfunction vals(node) { try { const j = $(node).item.json; return Array.isArray(j.values) ? j.values : []; } catch (e) { return []; } }\nconst whValues = vals('Read WH plan');\nconst ofValues = vals('Read Office plan');\nconst region = { minCol: meta.minCol, maxCol: meta.maxCol, minRow: meta.minRow, maxRow: meta.maxRow };\n\nfunction parseUnits(values, p) {\n  p = p || {};\n  const UNIT = /\\b([A-Z]{1,3}\\d{1,3}(?:-[A-Z0-9]{1,2})?)\\b/g;\n  const SF = /([\\d,]+)\\s*SF/i, DOCK = /Dock\\s*#?\\s*(\\d+)/i;\n  const NOISE = new Set(['M2', 'AC', 'CC', 'OHD']);\n  const minCol = p.minCol != null ? p.minCol : 0, maxCol = p.maxCol != null ? p.maxCol : 1e9;\n  const minRow = p.minRow != null ? p.minRow : 0, maxRow = p.maxRow != null ? p.maxRow : 1e9;\n  const units = {};\n  for (let r = 0; r < values.length; r++) {\n    if (r < minRow || r > maxRow) continue;\n    const row = values[r] || [];\n    for (let c = 0; c < row.length; c++) {\n      if (c < minCol || c > maxCol) continue;\n      let cell = row[c]; if (cell === null || cell === undefined) continue;\n      cell = String(cell).trim();\n      if (!cell || cell === ' ' || cell === 'Â' || cell === ' ') continue;\n      const dm = cell.match(DOCK);\n      if (dm) { const id = 'DOCK' + String(dm[1]).padStart(2, '0'); if (!units[id]) units[id] = { col: c, row: r, sf: null, type: 'DOCK' }; continue; }\n      UNIT.lastIndex = 0; let m;\n      while ((m = UNIT.exec(cell))) {\n        const id = m[1]; if (NOISE.has(id)) continue;\n        let sf = null; const sm = cell.match(SF); if (sm) sf = parseInt(sm[1].replace(/,/g, ''), 10);\n        const t = id.startsWith('DOCK') ? 'DOCK' : id[0] === 'R' ? 'OFFICE' : id[0] === 'P' ? 'PARKING' : 'WH';\n        if (!units[id]) units[id] = { col: c, row: r, sf: sf, type: t };\n      }\n    }\n  }\n  return units;\n}\nfunction layoutFloor(units) {\n  const targetW = meta.colw ? 0 : 960, targetH = meta.rowh ? 0 : 680;\n  const ids = Object.keys(units);\n  if (!ids.length) return { viewBox: '0 0 700 400', bg: null, items: [] };\n  let minc = Infinity, minr = Infinity, maxc = -Infinity, maxr = -Infinity;\n  for (const id of ids) { const d = units[id]; if (d.col < minc) minc = d.col; if (d.col > maxc) maxc = d.col; if (d.row < minr) minr = d.row; if (d.row > maxr) maxr = d.row; }\n  const spanC = Math.max(1, maxc - minc), spanR = Math.max(1, maxr - minr);\n  const COLW = meta.colw || Math.min(40, Math.max(8, 960 / spanC));\n  const ROWH = meta.rowh || Math.min(40, Math.max(8, 680 / spanR));\n  const items = [];\n  for (const id of ids.sort()) {\n    const d = units[id]; let w, h;\n    if (d.type === 'DOCK') { w = 18; h = 18; } else if (d.type === 'PARKING') { w = 20; h = 14; }\n    else { const sf = d.sf || 600; w = Math.round(Math.max(42, Math.min(130, Math.sqrt(sf) * 1.1))); h = 42; }\n    items.push({ k: 'u', id, x: Math.round((d.col - minc) * COLW), y: Math.round((d.row - minr) * ROWH), w, h });\n  }\n  let maxx = 0, maxy = 0; for (const it of items) { if (it.x + it.w > maxx) maxx = it.x + it.w; if (it.y + it.h > maxy) maxy = it.y + it.h; }\n  return { viewBox: '0 0 ' + (maxx + 40) + ' ' + (maxy + 40), bg: null, items };\n}\n\nconst whAll = parseUnits(whValues, region), ofAll = parseUnits(ofValues, region);\nconst whFloor = {}, ofFloor = {};\nfor (const id in whAll) { (whAll[id].type === 'OFFICE' ? ofFloor : whFloor)[id] = whAll[id]; }\nfor (const id in ofAll) { if (ofAll[id].type === 'OFFICE') ofFloor[id] = ofAll[id]; }\nconst warehouse = layoutFloor(whFloor), office = layoutFloor(ofFloor);\n\nfunction itemsArr(items) { return { arrayValue: { values: items.map(it => ({ mapValue: { fields: {\n  k: { stringValue: it.k }, id: { stringValue: it.id },\n  x: { integerValue: String(it.x) }, y: { integerValue: String(it.y) },\n  w: { integerValue: String(it.w) }, h: { integerValue: String(it.h) } } } })) } }; }\nfunction floorMap(f) { return { mapValue: { fields: { viewBox: { stringValue: f.viewBox }, bg: { nullValue: null }, items: itemsArr(f.items) } } }; }\nconst total = warehouse.items.length + office.items.length;\nif (total === 0) throw new Error('Floorplan parse produced 0 units for ' + meta.propId + ' (tab \"' + meta.whTab + '\").');\nconst patchBody = { fields: {\n  warehouse: floorMap(warehouse), office: floorMap(office),\n  updatedAt: { stringValue: new Date().toISOString() },\n  source: { stringValue: 'n8n floorplan sync' },\n  wh_count: { integerValue: String(warehouse.items.length) },\n  office_count: { integerValue: String(office.items.length) }\n} };\nreturn [{ json: { propId: meta.propId, patchBody, total } }];\n"
      },
      "id": "cw-fp-011",
      "name": "Build floorplan patch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        380
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/do-or-wait/databases/(default)/documents/floorplans/{{ $json.propId }}?updateMask.fieldPaths=warehouse&updateMask.fieldPaths=office&updateMask.fieldPaths=updatedAt&updateMask.fieldPaths=source&updateMask.fieldPaths=wh_count&updateMask.fieldPaths=office_count",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patchBody) }}",
        "options": {}
      },
      "id": "cw-fp-012",
      "name": "Write floorplan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        380
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Service Account — do-or-wait"
        }
      }
    }
  ],
  "connections": {
    "Weekly Mon 5am": {
      "main": [
        [
          {
            "node": "Get property config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get property config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get property config": {
      "main": [
        [
          {
            "node": "Select properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select properties": {
      "main": [
        [
          {
            "node": "Loop properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop properties": {
      "main": [
        [],
        [
          {
            "node": "List worksheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List worksheets": {
      "main": [
        [
          {
            "node": "Pick tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick tabs": {
      "main": [
        [
          {
            "node": "Read WH plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read WH plan": {
      "main": [
        [
          {
            "node": "Read Office plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Office plan": {
      "main": [
        [
          {
            "node": "Build floorplan patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build floorplan patch": {
      "main": [
        [
          {
            "node": "Write floorplan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write floorplan": {
      "main": [
        [
          {
            "node": "Loop properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cw-workflow-008"
}